/* -----------------------------------------------
	Standard formatting, do not change!!!
----------------------------------------------- */
* {
	color:#000;
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}

html, body {
	height:100%;
	text-align:center;
}



/* --------------------------
    HTML Tags
   -------------------------- */
img {
	border:0;
}

a {
	text-decoration:none;
}

a:focus{
	outline:none;
}

caption {
	display:none;
}

table {
	border-collapse:collapse;
}

table.fixedTable {
	table-layout:fixed;
}

th {
	text-align:left;
	vertical-align:top;
}

td {
	vertical-align:top;
}

ul {
	list-style:none;
}

ol {
	list-style-position:inside;
	padding-left:10px;
}
p {
	padding-bottom: 5px;
}


/* ------------------------------
    Heading
   ------------------------------ */
h1 {
	margin:0;
	padding:0;
}

h1 span {
	float:left;
}

h1, h1 * {
	font-size:11px;
	font-weight:normal;
	text-transform:uppercase;
	white-space:nowrap;
	letter-spacing:0.1em;
}
/*
h2 {}
*/
h3 {
	height:12px;
	padding:5px 0 7px 12px;
	background-color:#D5DEE5;
	/*margin:0 0 8px 0;*/
	font-weight:normal;
	/*text-transform:uppercase;*/
	white-space:nowrap;
}

h4 {
	height:12px;
	padding:5px 0 7px 12px;
	background-color:#fff;
	border-bottom:1px solid #e1e1e1;
	font-weight:normal;
	text-transform:uppercase;
	white-space:nowrap;
}

h5 {
	border-bottom:1px solid #000;
	font-size:18px;
	margin:5px 0;
	padding-left:5px;
}



/* -------------------------------
    Shortcuts
   ------------------------------- */
.positionRelative {
	position:relative;
}

.clear {
	clear:both;
}

.clearNone {
	clear:none;
}
.floatLeft {
	float:left;
}

.floatRight {
	float:right;
	padding-right:1px;
}

.centered {
	text-align:center;
}

.clearfix {
	overflow:hidden;
}

* html .clearfix {
	overflow:visible;
	height:1%;
}


.overflow {
	overflow:auto !important;
	overflow:inherit;
	height:auto !important;
	height:100%;
	/* ie7 needs this sometimes */
	min-height:100%;
	padding-bottom:1px;
}

.overflowHidden {
	overflow:hidden;
}

.marginNone {
	margin:0 !important;
}

.backgroundNone {
	background:none !important;
}

.backgroundColorTransparent {
	background-color:transparent;
}

.borderNone {
	border:none;
}

.fontWeightNormal {
	font-weight:normal;
}

.fontWeightBold {
	font-weight:bold;
}
.textTransformUppercase {
	text-transform:uppercase;
}
.displayInline {
	display:inline;
}
.displayBlock {
	display:block;
}
.hide,
.displayNone,
.hidden {
	display:none;
}
.error {
	color:red;
}

.pointerCursor {
	cursor:pointer;
}

.textIndent {
	text-indent:-9999px;
}

.red {
	color:#ad5050!important;
}