/* ---------------------------
	Basic button styles
   ---------------------------*/
button {
	position:relative;
	background:url('../img/bg_button.png') no-repeat 0 50%;
	cursor:pointer;
	padding:0;
	border:0px none !important;
	color:#000;
}

*+html button {
	position:relative;
}

button span {
	display:block;
	float:left;
	clear:none;
	margin:0;
	line-height:23px;
}

button span.icon {
	margin:3px 2px 0 8px;
	padding:0;
	background-repeat:no-repeat;
}

button span.label {
	white-space:nowrap;
	margin-left:5px;
	margin-right:3px;
	padding:0;
	white-space:nowrap;
}

button span.rgt {
	width:10px;
	height:23px;
	line-height:23px;
	background:#fff url(../img/bg_button.png) no-repeat 100% 50% !important;
	position:relative;
	left:3px;
}

.headerLine button span.rgt {
	margin-top:2px;
	height:23px;
	position:relative;
	background-color:#E7E7E7 !important;
}

html>/**/body button span.rgt { /* IE8 */
	left /*\**/:0\9;
}

*+html button span {
	margin-right:-15px;
}

*+html button span.rgt {
	position:absolute;
	top:1px;
	right:-10px;
	left:auto;
	margin:0px;
}



/* ---------------------------
	Often used button icons
   ---------------------------*/
button.save .icon {
	background:url(../img/icons.png) no-repeat 0 -209px;
}

button.cancel .icon {
	background:url(../img/icons.png) no-repeat 0 -328px;
}

button.delete .icon {
	background:url(../img/icons.png) no-repeat 0 -360px;
}

button.expandAll .icon {
	background:url(../img/icons.png) no-repeat 0 -600px;
	width:25px;
}



/* ---------------------------
	Center save buttons
   ---------------------------*/
div.typeSaveButton div.fField {
	padding-left:180px;
}