a.icon,
span.icon,
div.icon {
	display:block;
	float:left;
	clear:none;
	width:18px;
	height:18px;
}

.link {
	cursor:pointer;
}

.contentMessage {
	clear:both;
	padding:10px 10px 10px 50px;
	background:#E3EACE url(../img/icons.png) 15px -620px no-repeat;
	font-weight:bold;
}



/* -----------------
	Listings
   -----------------*/

ul.ulList {}
ul.ulList li.listItem {
	overflow:hidden;
	line-height:18px;
}
* html ul.ulList li.listItem {
	overflow:visible;
	height:1%;
}
ul.ulList li.listItem span {
	display:block;
	float:left;
}
ul.ulList li.listItemHeader {}
ul.ulList li.listItemHeader span {
	font-weight:bold;
}

ul.ulListDotted li.listItem {
	border-bottom:1px dotted #aaaaaa;
}
/* -----------------------------
	Editable / linked items
   ----------------------------- */
li.listItem a.editableItem {
	display:block;
}

/* -----------------
	Box
   -----------------*/
div.infoBox {
	margin:0.5em 0;
	border:1px solid #e1e1e1;
}

div.infoBox h4 {
	margin:0;
}

div.infoBox div.content {
	padding: 5px 12px;
	background: white;
}



/* -----------------
	Heading
   -----------------*/

h1 {
	position:relative;
	overflow:hidden;
}

h1.headerLine.hasIcon {
	padding-left:2px;
}

h1.headerLine.hasIcon span.title {
	padding-left:27px;
}

.headerLine {
	position:relative;
	margin-top:5px;
	width:100%;
	height:28px;
	background:url('../img/bg-headerline.png') no-repeat 0 0;
	text-align:left;
}

.headerLine span {
	float:left;
	margin:0 0 0 5px;
	line-height:28px;
}

.headerLine span.first, .headerLine span.first {
	padding:0 0 0 20px;
}

.headerLine span.rgt {
	position:absolute;
	right:0;
	top:0;
	display:block;
	margin:0;
	padding:0;
	background:url('../img/bg-headerline.png') white no-repeat 100% 0;
	width:10px;
	height:28px;
}

.headerLine label {
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:0.3px;
}

.headerLine th.last,
.headerLine td.last {
	background:#fff url('../img/bg-headerline.png') no-repeat 100% 0;
}

.headerLine th, .headerOptLine th {
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	white-space:nowrap;
}

.headerLine input {
	margin-right:10px;
}

.headerOptLine {
	position:relative;
	margin-top:5px;
	width:100%;
	height:28px;
	background:url('../img/bg-headerline.png') no-repeat 0 -46px;
	text-align:left;
}

.headerOptLine span.rgt {
	position:absolute;
	right:0;
	display:block;
	margin:0;
	padding:0;
	background:#fff url('../img/bg-headerline.png') no-repeat 100% -46px;
	width:10px;
	height:28px;
}

.headerOptLine th.last,
.headerOptLine td.last {
	background:#fff url('../img/bg-headerline.png') no-repeat 100% -46px;
}

.headerLine button span {
	line-height:20px;
}

	/* h3 */
.headLabel span {
	display:block;
	float:left;
	overflow:hidden;
}

span.infoIcon {
	background:url('../img/icons.png') no-repeat 0 -629px !important;
}

span.checkboxCheckedIcon {
	background:url('../img/icons.png') no-repeat 0 -870px !important;
}

span.checkboxOpenIcon {
	background:url('../img/icons.png') no-repeat 0 -900px !important;
}

.calendaricon {
	background:url('../img/icons.png') no-repeat 0 -690px;
	cursor:pointer;
}
