form {
	margin:0;
	padding:0;
}
	* html form {
		height:1%
	}
	
	fieldset {
		border:none;
	}
	
	form.fForm {
		padding:7px;
		background-color:#e2e2e2;
	}
	fieldset {
		position:relative;
		display:block;
		margin:0 0 7px 0;
		padding:40px 15px 15px 15px;
		background-color:#fff;
	}
	fieldset fieldset,
	fieldset.buttons {
		margin:0;
		padding:0;
		border:none;
		background:none;
	}
	fieldset fieldset {
		width:100%;
		margin-top:10px;
	}
	
	div.fieldset-clear {
		/*clear:both;*/
	}

	* html fieldset {
		height:1%;	/* IE6 */
	}

			/* Buttons, Footer line */
		fieldset.buttons {
			margin:0;
			padding:0;
			text-align:right;
		}

		fieldset.buttons .fElement {
			margin-left:5px;
		}
	
	legend,
	.fForm fieldset fieldset legend,
	.fForm .buttons legend {
		display:none;
	}
	.fForm legend {
		position:absolute;
		top:-40px;
		left:-15px;
		display:block;
		width:100%;
		padding:7px 0;
		text-indent:15px;
		text-transform:uppercase;
		font-weight:bold;
		border-bottom:1px solid#e1e1e1;
	}

textarea,
select,
input {
	position:relative;
	width:100%;
	border:1px solid #000;
	padding: 1px;
	/* hack to fix form elements width */
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-khtml-box-sizing:border-box;
	-o-box-sizing:border-box;
}

	input.checkbox,
	input.radio {
		border:none;
		width:auto;
	}

	input.button {
		border:none;
		width:auto;
	}

	input.datetime {
		float:left;
		width:95px;
		margin-right:5px;
	}

	input.textAC {
		background-image:url(../img/icons.png);
		background-repeat:no-repeat;
		background-position:6px -808px;
		background-color:#e3eace;
		padding-left:25px;
	}


textarea {
	font-size:1.0em;
}

.scrollbarHide select {
	min-width:107%;
	width:100% !important;
	width:107%;
}

select {
	text-transform:none;
}

	select.auto {
		width:auto;
	}
	select.day {
		width:40px;
		margin-right:2px;
	}
	select.month {
		width:40px;
		margin-right:2px;
	}
	select.monthnames {
		margin-left:2px;
	}
	select.year {
		width:60px;
	}
	select.datetime {
		width:150px;
	}

	select option {
	text-transform:none;
	padding-left:5px;
}

	select optgroup {
		padding-top:10px;
		font-size:11px;
	}

	select optgroup option {
		background:#fff;
	}

	select option.error,
	selectgrouped option.error {
		color:#991010;
	}

label {}
	label span.required {}

[disabled] {
	background-color:#ddd;
	color:#444;
}



/* ----------------------
	HTML building
   ----------------------*/

div.fElement {
	position:relative;
	height:auto !important;
	height:1%;
	margin:0;
	padding:3px 0;
}

	/* label */
	div.fElement .fLabel {
		position:relative;
		float:left;
		width:140px;
		padding:2px 0;
		text-align:left;
	}
	.noneFloatingInput div.fElement .fLabel {}

	div.fElement .fLabel label {}

	div.fElement .required {}
	div.fElement .required label {}

		/* input */
	div.fElement .fField {
		float:left;
		width:320px;
		margin-left:5px;
	}

	div.fElement .fField input {
	}

	div.fElement .fClear {
		clear:both;
	}
	
		/* second level */
		div.fElement .fField .fLabel {
			width:100px;
		}
		div.fElement .fField .fField {
			width:215px;
		}



/* -------------
	Types
   ------------- */
	.typeText {}

	.typeDate {}

	.typeUpload {}

		div.typeDate .fField input {
			float:left;
			width:70px;
			margin-right:5px;
		}
		div.typeDatetime .fField input {
			float:left;
			width:90px;
			margin-right:5px;
		}
		div.typeTime .fField input,
		div.typeDuration .fField input  {
			float:left;
			width:33px;
		}

	.typeCheckbox {
	}
		/* checkbox in a fField element. */
		/* example:Address in Ext Contact */
		.fField div.typeCheckbox .fLabel {}

		.typeCheckbox .fField {
			position:relative;
			top:3px;
		}

		div.typeCheckbox .fField input.checkbox {
			width:auto;
		}

	.typeDatabaseRelation {}

		.typeDatabaseRelation .foreignRecordsActionControl {
			display:block;
		}

		.typeDatabaseRelation button.addForeignRecord .icon {
			background:url(../img/icons.png) no-repeat 2px -568px;
		}

		.typeDatabaseRelation .databaseRelation {
			border-top:1px solid #ccc;
		}

		.typeDatabaseRelation .databaseRelation span.label {
			cursor:pointer;
		}

		.typeDatabaseRelation .databaseRelation span.additionalStuff {
			float:right;
		}

		.typeDatabaseRelation .databaseRelation span.additionalStuff a.remove {
			background:url(../img/icons.png) no-repeat 0 -539px;
		}

	button.updateDatabase .icon {
		width:20px;
		background:url(../img/icons.png) no-repeat 2px -928px;
	}

	.fElement .fField.hasWizard input {
		width:90%;
		float:left;
	}

	.fElement .fField.hasWizard .wizardIcon {
		cursor:pointer;
	}

	fieldset.buttons div,
	fieldset.buttons div.fElement .fField {
		float:left;
		width:auto;
	}
	fieldset.buttons div.fElement .fLabel {
		display:none;
		width:auto;
	}



/* -----------------
	Design
   -----------------*/

input, textarea, select {
	border-color:#848484 #e8e5de #e8e5de #848484;
}

fieldset {}

	fieldset div.odd {
		/*background-color:#fff;*/
	}

	fieldset div.even {}

	fieldset.buttons div.fElement {
		float:right;
	}

		/* none floating fields */
	/*
	fieldset.noneFloatingInput div.fElement .fField,
	fieldset.noneFloatingInput div.fElement .fLabel {
		float:none;
	}
	*/

		/* --- right floating Input --- */
	.formElement .formField {
		width:58%;
	}

	.formElement .formField {
		display:inline;
		float:right;
	}


/*
.formElement input,
.formElement textarea,
.formElement select {
	width:100%;
}

.formElement textarea {
	height:100px;
}
*/



/* ----------------------------------------------
	Additional information after input field
   ---------------------------------------------- */
form .textAfterField  {
	position:absolute;
	z-index:9999; /* always in front */
	display:none;
	padding:10px;
	margin:1px 2px 0 0;
	color:#666;
	text-align:left;
	-webkit-box-shadow:2px 2px 7px #999;
	-moz-box-shadow:2px 2px 7px #999;
	box-shadow:2px 2px 7px #999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#fff;
}

form .fField:hover .textAfterField {
	display:block;
}

.dateElement input {
	width:73px !important;
	width:77px;
	margin-right:10px;
	float:left;
}


form .fElement.error .fLabel.error label,
form div.error div.errorMessage {
	color:red;
	font-style:italic;
}

form .error.typeCheckbox {
	height: 30px !important;
}

form .typeCheckbox div.errorMessage {
}

/* -------------------------
	Left floating radio
   ------------------------- */
/*
.formElement fieldset input {
	clear:left;
	float:left;
	height:18px;
}

.formElement fieldset label {
	float:left;
	width:88% !important;
	width:83%;
	line-height:18px;
}

*+html .formElement fieldset label {
	width:83% !important;
}

.formLabel .fieldHasError label{
	color:red;
}
*/



/* -------------------------
	Auto-completer list
   ------------------------- */
.acResultContainer {
		z-index:100;
		border-top:1px solid #ccc;
		-webkit-box-shadow:2px 2px 5px #999;
		-moz-box-shadow:2px 2px 5px #999;
		box-shadow:2px 2px 5px #999;
	}
	.acResultContainer ul {
		padding:0 !important;
	}
	.acResultContainer li{
		background:#fff;
		border:1px solid #ccc;
		border-top: none;
		padding:5px;
		cursor:pointer;
		text-align:left;
	}

		.acResultContainer li.selected {
			background:#edf0df;
		}

	.acResultContainer .empty{
		background:none;
		border:none;
		border-width:0;
		padding:0;
	}



/* ----------------------------------
	Form element: databaseRelation
   ---------------------------------- */
.formElement .databaseRelation {
	margin-top:5px;
}

.formElement .databaseRelation .formtrigger {
	padding:5px 0 5px 19px;
}

.formElement .databaseRelation .formtrigger a.remove {
	background:transparent url(../img/formelements.png) no-repeat 3px 3px;
	height:16px;
	width:16px;
	position:absolute;
	right:5px;
}



/* ------------------------------------------------------
	Form element: foreignRecordsActionControl
   ------------------------------------------------------ */
.formElement .foreignRecordsActionControl {
	height:30px;
	background-color:#a8c7de
}

.formElement .foreignRecordsActionControl a {
	background:transparent url(../img/formelements.png) no-repeat 0 -30px;
	height:16px;
	width:17px;
	position:absolute;
	top:7px;
	right:7px;
}



/* --------------------
	Wizard icon
   -------------------- */
.fField span.wizardIcon  {
	height:16px;
	width:16px;
	display:block;
	float:right;
	background:transparent url(../img/icons.png) no-repeat 0 -90px;
}



/* --------------------------------------
	Form element: iconSelector
   -------------------------------------- */
.fField .iconSelector {
	width:auto;
}

.fField .iconSelector .selectorIcon {
	display:block;
	height:25px;
	width:25px;
	margin:9px 0 0 9px;
	text-indent:-9999px;
}

.fField .iconSelector li {
	float:left;
	cursor:pointer;
	background-color:#f3f3f3;
	border:1px dotted #848484;
}

.fField .iconSelector li.selected {
	border:1px solid #848484;
	background-color:#e3eace;
}

.fField .iconSelector li:hover {
	background-color:#e3eace;
}



/* ----------------------------------
	Quick creation light-box
   ---------------------------------- */
#quickcreate,
#quicktask {
	text-align:left;
}


/* ---------------------------------------
	Special styles for involved persons
   --------------------------------------- */
form .databaseRelation {
	margin-top:5px;
	padding-top:5px;
}
form div.typeDatabaseRelation div.formtrigger span.label.expanded {
	font-weight:bold;
}

form.formGeneral,
form.formPerson,
form.formRecord,
form.formRightseditor,
form.formConfig {
	padding-top:10px;
}



/* ---------------------------------------
	Error info: invalid items listing
   --------------------------------------- */
div.errorMessage ul.invalidItems {
	font-style:normal;
	border-left:5px solid #F00;
	padding-left:5px;
}

	div.errorMessage ul.invalidItems li {
		font-weight:bold;
	}

		div.errorMessage ul.invalidItems li ul {
			list-style-type:square;
		}

			div.errorMessage ul.invalidItems li ul li {
				font-weight:normal;
				margin-left:20px;
			}
