#headlets {
	position:absolute;
	right:89px;
	z-index:200;
}

#headlets ul.content {
	-webkit-box-shadow: 2px 2px 7px #999;
	-moz-box-shadow: 2px 2px 7px #999;
	box-shadow: 2px 2px 7px #999;
}

#headlets li {
	position:relative;
	float:left;
	z-index:200;
}

	#headlets li.active,
	#headlets li:hover {
		z-index:202;
	}

#headlets li a {
	display:block;
	position:relative;
	height:26px;
	width:26px;
	margin-left:-1px;
	border:1px solid #d3d9ba;
	border-width:0 1px;
	cursor:pointer;
	z-index:200;
}

	#headlets li a.active,
	#headlets li.active a,
	#headlets li:hover a {
		border-color:#b9bbad;
		background-color: white;
		z-index:203;
	}

#headlets li ul {
	position:absolute;
	top:25px;
	left:-1px;
	border:1px solid #b9bbad;
	z-index:202;
	background: -moz-linear-gradient(#ffffff, #f3f3f3);
	background: -webkit-gradient(linear, from(#ffffff), to(#f3f3f3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f3f3f3)";
}

#headlets li li {
	float:none;
	margin:0;
	border:none;
}

#headlets li li a {
	width:auto;
	height:auto;
	margin:0;
	padding:5px 30px 2px 30px;
	border:none;
	font-size:11px;
	white-space:nowrap;
}


	#headlets li.headlet.menu li.active a,
	#headlets li.headlet.menu li:hover a {
		border:none;
		background-color: #edf0df;
	}

	#headlets li li a.primary {
		border-bottom:1px solid #b9bbad;
	}