#headlet-about-button {
	background:url(../img/headlet-icons.png) no-repeat 6px -24px;
}

#headlet-about-window {
	position:fixed;
	width:350px;
	padding:10px;
	-moz-box-shadow:2px 2px 7px #999999;
	background-color:#FFF;
	left:0;
	top:0;
	z-index:3000;
	opacity:0.97;
}

#headlet-about-window .logo {
	height:120px;
	background:url(../img/logo2.png) no-repeat 40% 0;
}

#headlet-about-window .close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0px;
	top: 0px;
	background:url(../img/icons.png) no-repeat 5px -350px;
	cursor:pointer;
}

#headlet-about-window p {
	text-align:left;
	margin-bottom:10px;
}

#headlet-about-window a {
	text-decoration:underline;
}

#headlet-about-window .copyright {

}

#headlet-about-window .community {
	font-weight:bold;
}

#headlet-about-window .thanks {
	font-weight:bold;
	margin-top:20px;
}

#headlet-about-window .names {
	height:150px;
	padding:5px;
	border:1px dotted #CCC;
	background-color:#FCFCFC;
	position:relative;
	overflow:hidden;
}

#headlet-about-window .names ul {
	padding-top:50px;
}

#headlet-about-window .names ul li {
	font-size:20px;
	font-family:monospace;
	padding:5px;
}

