#headlets {
	position:absolute;
	right:105px;
	z-index:200;
}

#headlets li {
	position:relative;
	float:left;
	z-index:200;
}

	#headlets li:hover {
		z-index:202;
	}

#headlets li a {
	display:block;
	position:relative;
	height:26px;
	width:26px;
	margin-left:-1px;
	border:1px solid #d3d9ba;
	border-width:0 1px;
	cursor:pointer;
	z-index:200;
}

	#headlets li:hover a {
		border-color:#b9bbad;
		background-color:#d7ddc1;
		z-index:203;
	}

	#headlets li a.button {
		background-image:url(../img/headlet-icons.png);
		background-repeat:no-repeat;
	}
	#headlets li a#headlet-quicksearch-button { background-position:0 5px; }
	#headlets li a#headlet-timetracking-button { background-position:0 -23px;}
	#headlets li a#headlet-timetracking-button.active { background-position:-28px -23px;}
	#headlets li a#headlet-quicktask-button { background-position:0 -51px; }
	#headlets li a#headlet-quickcreate-button { background-position:0 -79px; }
	#headlets li a#headlet-admin-button { background-position:0 -135px; }
	#headlets li a#headlet-logout-button { background-position:0 -163px; }

#headlets li ul {
	position:absolute;
	top:25px;
	left:-1px;
	background:#d7ddc1;
	border:1px solid #b9bbad;
	z-index:202;
}

#headlets li li {
	float:none;
	margin:0;
	border:none;
}

#headlets li li a {
	width:auto;
	height:auto;
	margin:0;
	padding:5px 30px 2px 30px;
	border:none;
	font-size: 10px;
	white-space:nowrap;
}

	
	#headlets li.headlet.menu li:hover a {
		border:none;
		background-color:#edf0df;
	}

	#headlets li li a.primary {
		border-bottom:1px solid #b9bbad;
	}