li#headlet-ajaxloader {
	left:-200px;
	position:absolute;
	top:35px;
}

li#headlet-ajaxloader a {
	border:none;
}

#headlets #headlet-ajaxloader-button {
	background:url(../img/ajax-loader.png) no-repeat 7px 4px;
}