body {
	background-color:#e3eace;
}

#header {
	position:fixed;
	z-index:1000;
	text-align:center;
	width:100%;
	left:0;
	background-color:#FFF;
	border-bottom:2px solid #E3EACE;
}

	#header .inner {
		height:100px;
		text-align:left;
		width:978px;
		margin:0 auto;
	}

	#menuCurrentTimeTracking {

	}

#box {
	position:relative;
	width:978px;
	padding-top:100px;
	margin:0 auto;
}

#contentBox {
	position:relative;
	width:973px !important;
	width:978px;
	min-height:415px;
	height:auto !important;
	height:415px;
	padding:1px 2px 0 3px;
}

#contentBoxTop {
	position:absolute;
	height:85px;
	width:978px;
	margin:-1px -2px 0 -3px;
}

#main {
	position:relative;
	clear:both;
	padding:0 0 80px 0;
}


/* --------------
	Panel
   --------------*/

	#panel {
		position:relative;
		top:20px;
		float:left;
		clear:both;
		width:270px;
		padding:0;
		margin:0 10px 50px 0;
	}

		#panel .inner {
			padding:5px;
		}

		#panel .panelHeader {
			height:8px;
			background:url('../img/panel_header.png') no-repeat 0 0;
		}

		#panel .panelWidget {
			background:#fff;
			margin:0 0 2px;
			padding:5px 7px 6px;
		}

		#panel .panelFooter {
			height:51px;
			margin-top:-2px;
			background:url('../img/panel_footer.png') no-repeat 0 0;
		}

#panel.collapsed {
	width:0px;
	margin-right:0;
}

#left-col-trigger {
	display:block;
	position:absolute;
	left:-15px;
	top:0;
	height:33px;
	width:13px;
	cursor:pointer;
}

#left-col-trigger.close {
	background:url(../img/sprite-left_col-portal.png) no-repeat 0 -128px;
}

#left-col-trigger.open {
	background:url(../img/sprite-left_col-portal.png) no-repeat -32px -128px;
}



/* -------------------
	Content column
   -------------------*/

#right {
	position:relative;
	top:46px;
	float:left;
	width:680px;
}

	.content span.lt,
	.content span.rt,
	.content span.lb,
	.content span.rb {
		display:block;
		position:absolute;
		width:13px;
		height:13px;
		background-color:transparent;
		background-image:url('../img/col3_r13.png');
		background-repeat:no-repeat;
		background-position:0 0;
	}

	.content span.lt {top:0;left:0;}
	.content span.rt {top:0;right:0;background-position:100% 0;}
	.content span.lb {bottom:0;left:0;background-position:0 100%;}
	.content span.rb {bottom:0;right:0;background-position:100% 100%;}

		/* default left / top not display */
	.content span.lt {display:none;}

#content {
	padding:1px;
	margin:8px;
}

*+html #right .inner {height:1%;padding-top:8px;}


#right.expanded {
	width:938px;
}



/* --------------
	Footer
   --------------*/

#footer {
	display:block;
	clear:both;
	position:relative;
	width:100%;
	height:70px;
	text-align:left;
	margin-top:50px;
	padding-top:20px;
}

#footer .inner {
	width:950px;
	margin:0 auto;
}

#footer-info {
	float:left;
	width:400px;
}

#footer-logo {
	float:left;
	width:140px;
	text-align:center;
}

#footer-address {
	float:right;
	width:400px;
	text-align:right;
}

#footer-line {
	display:block;
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:5px;
	background:#B0D026 url('../img/bg_footer.jpg') repeat-y 0 top;
}





#footerX * {
	font-size:11px;
	text-transform:lowercase;
}

#footerX .address {
	width:978px;
	margin:0 auto;
}

#footerX .address .logo {
	position:relative;
	left:-45px;
}

#footerX .line {
	display:block;
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	height:5px;
	background:#B0D026 url('../img/bg_footer.jpg') repeat-y 0 top;
}

#footerX .line hr {display:none;}



/* -----------------
	Panel
   ----------------- */
#panel * {
	font-size:10px;
}

.panelWidget {
	position:relative;
	margin-bottom:8px;
	padding-bottom:3px;
	background:url(../img/content/hr_hor.png) repeat-x scroll 0 bottom;
}

.panelWidget h1 {
	height:26px;
	background-image:url('../img/bg_headers.png');
	background-repeat:no-repeat;
	background-position:0 -60px; /* allowedOpen open  */
	margin:0;
	padding:0;
}

.panelWidget h1.expand {
	background-position:0 0; /* allowedOpen close */
}

.panelWidget h1.deniedOpenClosed {
	background-position:0 -120px; /* deniedOpen close */
}

.panelWidget h1.deniedOpen {
	background-position:0 -180px; /* deniedOpen open */
}
	.panelWidget h1 span {
		display:block;
	}

	.panelWidget h1 span.title {
		float:left;
		clear:none;
		margin:0;
		padding:0 0 0 10px;
		letter-spacing:0.1em;
		line-height:26px;
	}

	.panelWidget.hasIcon span.title {
		padding-left:27px;
		background-image:url('../img/icons.png');
		background-repeat:no-repeat;
		background-position:1000px 50%;
	}

	.panelWidget h1 span.toggle {
		float:right;
		clear:none;
		width:22px;
		height:26px;
		background:url('../img/ico_toggle.png') no-repeat 6px 50%;
		cursor:pointer;
	}

	.panelWidget h1 span.expand {
		background:url('../img/ico_toggle.png') no-repeat -24px 50%;
	}

	*+html .panelWidget div.content {height:1%;} /* IE7 */

	.panelWidget .content select {
		border:0px none;
	}

	.panelWidget .content select option {
		padding:2px;
		background-color:#fff;
		border-bottom:1px dotted #848484;
		color:#333;
	}

	.panelWidget .content select option.odd {
		background-color:#f3f3f3;
	}

	.panelWidget .content select.filter option {
		color:#333;
	}

	.panelWidget .content select.filter option.selected {
		background-color:#adb989; /* bcl04 */
		color:#000;
	}

	

/* --------------------------------------------------------
	Dev stamp (marking certain areas as 'in development')
   --------------------------------------------------------*/

#devstamp {
	position:absolute;
	left:4px;
	top:4px;
	z-index:100;
}



/* ----------------------------
	Popup
   ---------------------------- */

.popup {
	position:absolute;
	z-index:2000;
	display:block;
	background-color:#FFF;
	border:1px solid #E3EACE;
	border-width:0 1px 1px 1px;
}

.popup h1 {
	height:28px;
	margin:-5px -1px 0;
	padding:0;
	background:url('../img/bg_headerline.png') no-repeat 0% 0%;
}

.popup h1 span {
	float:left;
	color:#000;
	font-size:12px;
	margin:0 0 0 5px;
	line-height:28px;
}

.popup h1 span.title {
	padding-left:10px;
}

.popup h1 span.closeButton {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:25px;
	height:25px;
	cursor:pointer;
	background:url(../img/buttons/titlebutton_close.png) no-repeat 0 0px;
}

.popup h1 span.rgt {
	position:absolute;
	right:0;
	display:block;
	margin:0;
	padding:0;
	background:#fff url('../img/bg_headerline.png') no-repeat 100% 0%;
	width:10px;
	height:28px;
}

.popup #innerContent {
	padding:10px;
	overflow:hidden;
}

.popup .bordercolor {
	border-color:#808080;
}



/* -------------------------------
	Styles & status
   ------------------------------- */

div.toggled {
	background-color:#adb989;font-weight:bold;
}

li.odd,
div.odd {
	background-color:#f3f3f3;
}

li.even,
div.even {
	background-color:transparent;
}

div.error {
	border:1px solid #ff0000;
	margin-bottom:1px !important;
}

	/* planning */
.bcStatus1 {
	border-color:#7f007f;
}

	/* open */
.bcStatus2 {
	border-color:#FF0000;
}

	/* progress */
.bcStatus3 {
	border-color:#FFAC00;
}

	/* confirm */
.bcStatus4 {
	border-color:#FFFC00;
}

	/* done */
.bcStatus5 {
	border-color:#77DC00;
}

	/* accepted */
.bcStatus6 {
	border-color:green;
}

	/* rejected */
.bcStatus7 {
	border-color:#A60000;
}

	/* cleared */
.bcStatus8 {
	border-color:grey;
}

	/* warranty */
.bcStatus9 {
	border-color:#2335e0;
}

	/* customer */
.bcStatus10 {
	border-color:pink;
}

/*
		div.bookmarkStatusPlanning { background-color:#7f007f; }
		div.bookmarkStatusCustomer { background-color:pink; }
		div.bookmarkStatusOpen { background-color:#f00; }
		div.bookmarkStatusFeedback { background-color:purple; }
		div.bookmarkStatusInprogress { background-color:#ffac00; }
		div.bookmarkStatusConfirmation { background-color:#fffc00; }
		div.bookmarkStatusDone { background-color:#77dc00; }
		div.bookmarkStatusAccepted { background-color:green; }
		div.bookmarkStatusRejected { background-color:#a60000; }
		div.bookmarkStatusQuicktask { background-color:#00aeff; }
		div.bookmarkStatusCleared { background-color:grey; }
		div.bookmarkStatusDate { background-color:#85c1fc; }
		div.bookmarkStatusContainer { background-color:#fbfbf4; }
		div.bookmarkStatusWarranty { background-color:#2335e0; }

	#panelwidget-daytracks ul li.status-open { border-left-color:#FF0000; }
	#panelwidget-daytracks ul li.status-progress { border-left-color:#FFAC00; }
	#panelwidget-daytracks ul li.status-confirm { border-left-color:#FFFC00; }
	#panelwidget-daytracks ul li.status-done { border-left-color:#77DC00; }
	#panelwidget-daytracks ul li.status-accepted { border-left-color:green; }
	#panelwidget-daytracks ul li.status-rejected { border-left-color:#A60000; }
*/

input.toggleSelect {
	display:none;
}

label.toggleSelect {
	padding:0 22px 18px 0;
	cursor:pointer;
}

label.toggleSelect.collapse {
	background:url('../img/ico_toggle_select.png') no-repeat 0 0;
}

label.toggleSelect.expand {
	background:url('../img/ico_toggle_select.png') no-repeat -44px 0;
}



/* ---------------
	Colors
   --------------- */

/* layout */
.bclFF {background-color:#fff;}
.bcl00 {background-color:#000;}
.bcl01 {background-color:#edf1e0;}
.bcl02 {background-color:#e3eace;}
.bcl03 {background-color:#d3dabb;}
.bcl04 {background-color:#adb989;}
.bcl05 {background-color:#9dc08e;}
.bcl06 {background-color:#c8ddbe;}
.bcl07 {background-color:#e9eda1;}
.bcl08 {background-color:#c8d215;}
.bcl09 {background-color:#779124;}
.bcl10 {background-color:#b9eefc;}
.bcl11 {background-color:#24a5c3;}
.bcl12 {background-color:#50c5b5;}
/*.bc13 {background-color:#;}*/

/* gray */
.bcgFF {background-color:#fff;}
.bcg00 {background-color:#000;}
.bcg01 {background-color:#e1e1e1;}
.bcg02 {background-color:#c6c6c6;}
.bcg03 {background-color:#e1e1e1;}
.bcg04 {background-color:#ecefe2;}
.bcg05 {background-color:#f4f4f4;}
.bcg06 {background-color:#666;}
.bcg07 {background-color:#bbb;}
/*.bcg08 {background-color:#;}*/
.bcg09 {background-color:#999;}



/* -------------------------------
	Alphabetical index
   ------------------------------- */

select.indexLetters option {
    padding-left:16px !important;
}

div.indexLetters {
	display:block;
	clear:both;
	margin:10px 0 5px 5px;
	padding:0px;
	height:20px;
	width:500px;
	border-bottom:1px dashed #CCC;	
}

div.indexLetters a {
	display:inline-block;
	width:12px;
	height:16px;
	margin:1px 2px;
	cursor:pointer;
}

div.indexLetters a.inactive {
	opacity:0.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:alpha(opacity=30);
	cursor:default;
}

.indexLetterA {
	background:url('../img/indexletters.png') no-repeat 0 1px;
}
.indexLetterB {
	background:url('../img/indexletters.png') no-repeat 0 -27px;
}
.indexLetterC {
	background:url('../img/indexletters.png') no-repeat 0 -55px;
}
.indexLetterD {
	background:url('../img/indexletters.png') no-repeat 0 -83px;
}
.indexLetterE {
	background:url('../img/indexletters.png') no-repeat 0 -111px;
}
.indexLetterF {
	background:url('../img/indexletters.png') no-repeat 0 -139px;
}
.indexLetterG {
	background:url('../img/indexletters.png') no-repeat 0 -167px;
}
.indexLetterH {
	background:url('../img/indexletters.png') no-repeat 0 -195px;
}
.indexLetterI {
	background:url('../img/indexletters.png') no-repeat 0 -223px;
}
.indexLetterJ {
	background:url('../img/indexletters.png') no-repeat 0 -251px;
}
.indexLetterK {
	background:url('../img/indexletters.png') no-repeat 0 -279px;
}
.indexLetterL {
	background:url('../img/indexletters.png') no-repeat 0 -307px;
}
.indexLetterM {
	background:url('../img/indexletters.png') no-repeat 0 -335px;
}
.indexLetterN {
	background:url('../img/indexletters.png') no-repeat 0 -363px;
}
.indexLetterO {
	background:url('../img/indexletters.png') no-repeat 0 -391px;
}
.indexLetterP {
	background:url('../img/indexletters.png') no-repeat 0 -419px;
}
.indexLetterQ {
	background:url('../img/indexletters.png') no-repeat 0 -447px;
}
.indexLetterR {
	background:url('../img/indexletters.png') no-repeat 0 -475px;
}
.indexLetterS {
	background:url('../img/indexletters.png') no-repeat 0 -503px;
}
.indexLetterT {
	background:url('../img/indexletters.png') no-repeat 0 -531px;
}
.indexLetterU {
	background:url('../img/indexletters.png') no-repeat 0 -559px;
}
.indexLetterV {
	background:url('../img/indexletters.png') no-repeat 0 -587px;
}
.indexLetterW {
	background:url('../img/indexletters.png') no-repeat 0 -615px;
}
.indexLetterX {
	background:url('../img/indexletters.png') no-repeat 0 -643px;
}
.indexLetterY {
	background:url('../img/indexletters.png') no-repeat 0 -671px;
}
.indexLetterZ {
	background:url('../img/indexletters.png') no-repeat 0 -699px;
}