table.list {
	margin-top:5px;
}

table.list .header {
	height:28px;
	background:url('../img/bg_headerline.png') no-repeat 0% 0%;
	text-align:left;
}

table.list .header th {
	border-bottom:1px dotted #AAAAAA;
}

table.list .header th.last {
	background: #fff url(../img/bg_headerline.png) no-repeat 100% 0%;
}

table.list th,
table.list td {
	padding:5px;
}

table.list td {
	border-bottom:1px dotted #AAAAAA;
}
