.paging {
	display:block;
	margin:8px 0 0 0;
	background-color:#F00;
}

.paging div {
	display:block;
	float:left;
	clear:none;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	
}

.paging div.view {
	padding-right:10px;
}

.paging div.pages {
	width:auto;
}

.paging div.pages div.page {
	padding:0 5px;
	width:30px;
	cursor:pointer;
	background-color:#EDF1E0;
	margin-right:1px;
}

.paging div.pages div.page.active {
	background-color:#E3EACE;
	cursor:default;
}

.paging div.nav {
	float:right;
	width:80px;
}

.paging div.nav div {
	padding:0 5px;
	margin:0 1px;
	width:20px;
	cursor:pointer;
	font-size:12px;
	background-color:#E3EACE;
}
