#navi-main {
	position:absolute;
	z-index:100;
	bottom:0;
	left:0;
	width:100%;
}

ul#navi-main-list {
	margin:0 auto;
	width:978px;
}

ul#navi-main-list li {
	float:left;
	background-image:url('../img/colF_r13.png');
	background-position:100% 0;
	margin-right:3px;
}

ul#navi-main-list li a {
	display:block;
	width:auto !important;
	width:1px;
	height:auto !important;
	height:1px;
	line-height:30px;
	padding:0 14px 0 0;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	white-space:nowrap;
	background-image:url('../img/shadow01.png');
	background-position:50% 100%;

}

ul#navi-main-list li a span.lt {
	display:block;
	float:left;
	width:14px;
	height:13px;
	background-image:url('../img/colF_r13.png');
}

ul#navi-main-list li:hover a,
ul#navi-main-list li a.active {
	background-image:none;
}

ul#navi-main-list li.active {
	background-color:#e3eace; /* bcl02 */
}

ul#navi-main-list li:hover {
	background-color:#d3dabb; /* bcl03 */
}



/* -------------------
	Level 2
   ------------------- */

ul#navi-main-list li:hover ul {
	left:auto;
}

ul#navi-main-list li ul {
	position:absolute;
	top:29px;
	left:-9999px;
	width:200px !important;
	margin-top:1px;
	margin-left:-30px;
	padding:0 30px 30px 30px;
	text-transform:none;
}

ul#navi-main-list li ul li {
	width:100%;
	background-image:none;
	background-color:#d3dabb; /* bcl03 */
	text-align:left;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #cdcec8;
	border-right:1px solid #cdcec8;
}

ul#navi-main-list li ul li.first {
		padding-top:1px;
		border-top:1px solid #b9bcae;
}

ul#navi-main-list li ul li.last {
	padding-bottom:1px;
	border-bottom:1px solid #cdcec8;
}

ul#navi-main-list li ul li a {
	padding:2px 10px 2px 30px;
	line-height:20px;
	font-size:10px;
	font-weight:normal;
	/*background-image:none;*/
}

ul#navi-main-list li ul li a:hover {
	background-color:#eff3e5; /* bcl04 */
}


/* Todoyu tab */
#navi-main-list li.itemTodoyu {
	float:right;
}