#quickinfo {
	display:block;
	left:200px;
	position:absolute;
	top:200px;
	width:182px;
	border:1px solid #b9bcae;
	background-color:#d3dabb;
	z-index:1000;
}

#quickinfo dl {

}

#quickinfo dl dt {
	float:left;
	width:20px;
	min-height:15px;
	padding:2px;
}

#quickinfo dl dd {
	float:left;
	width:150px;
	min-height:15px;
	padding:3px 4px;
	background-color:#edf1e0;
	text-align:left;
	font-size:10px;
}