#toppanel {
	position:absolute;
	top:0;
	/*right:0;*/
	width:100%;
	height:70px;
	background:transparent;
}

#companyLogo,
#head {
	position:absolute;
	height:60px;
}

#companyLogo {
	left:0;
	width:200px;
	background:url(../../../config/img/company.png) no-repeat 5px 50%;
}

#head {
	left:200px;
	width:775px;
	border:1px solid #ff8000;
}

#headlets {
	position:absolute;
	right:0;
	background-color:#067;
	padding-bottom:1px;
}

#headlets li.headlet {
	float:left;
	margin-left:1px;
	height:25px;
	width:30px;
}

#headlets li.headlet div.button {
	width:100%;
	height:100%;
	background:url(../img/headlet.png) no-repeat 0 0;
	cursor:pointer;
}


 /* Dev */
#headlets li.headlet {
	border:1px solid #F00;
	margin:0 5px;
}




/*
#headletmetamenu {
	left:90px;
	top:25px;
	height:20px;
	width:150px;
	z-index:1011;
}

ul.metamenu {
	float:right;
}

	ul.metamenu li {
		float:left;
		padding:0 5px 0 8px;
		background:url('../img/bg-metamenu-li.png') no-repeat 0 50%;
	}

		ul.metamenu li.first {
			background:none;
		}
	
		ul.metamenu li a {
			float:left;
		}
*/