#toppanel {
	position: absolute;
	top: 0;
	/*right: 0;*/
	width: 100%;
	height: 70px;
	background: transparent;
}

#companyLogo, #headletsLeft, #headletsRight {
	/*
	float:left;
	clear:none;
	*/
	position:absolute;
	height:60px;
}

#companyLogo {
	left:0;
	width:200px;
	background:url('../../../config/img/company.png') no-repeat 5px 50%;
}

#headletsLeft {
	left:200px;
	width:528px;
}

#headletsRight {
	left:728px;
	width:235px;
	padding-right:15px;
}

#headletsRight div.headlet {
	position:absolute;
}

#headletsLeft div.headlet {
	position:relative;
	float:left;
	clear:none;
}

#headletajaxloader {
	left: 20px;
	top: 5px;
	width:25px;
	z-index: 1011;
}

#ajax-loader {
	display:block;
	width: 16px;
	height: 16px;
	padding:3px;
}

#headletmetamenu {
	left: 90px;
	top: 25px;
	height:20px;
	width:150px;
	z-index: 1011;
}

	ul.metamenu {
		float:right;
	}

	ul.metamenu li {
		float: left;
		padding: 0 5px 0 8px;
		background:url('../img/bg_metamenu_li.png') no-repeat 0 50%;
	}

	ul.metamenu li.first {
		background:none;
	}

	ul.metamenu li a {
		float: left;
	}
