#toppanel {
	position:absolute;
	top:0;
	/*right:0;*/
	width:100%;
	height:70px;
	background:transparent;
}

#companyLogo,
#head {
	position:absolute;
	height:60px;
}

#companyLogo {
	left:0;
	width:200px;
	background:url(../../../config/img/company.png) no-repeat 5px 50%;
}

#head {
	left:200px;
	width:775px;
	border:1px solid #ff8000;
	z-index:110;
}