#wizard-firststeps-button {
	position: fixed;
	top:10px;
	left:10px;
	background-color:#F00;
	color:#FFF;
	padding:10px;
	cursor:pointer;
	z-index:1000;
}

.wizard {

}

.wizard .navi,
.wizard .content,
.wizard .help {
	float:left;
	clear:none;
}

.wizard .navi {
	width:180px;
	height:520px;
	background-color:#E3EACE;
}

.wizard .navi ul {
	margin-left:20px;
	margin-top:20px;
	text-align:left;
	list-style-type:square;
	list-style-position:inside;
}

.wizard .navi ul li {
	font-size:12px;
	font-weight:bold;
	padding:5px;
}

.wizard .navi ul li.active {
	background-color:#F6F8F1;
}

.wizard .navi ul li.done {
	cursor:pointer;
}

.wizard .content {
	padding:20px;
	width:460px;
	height:480px;
	overflow:auto;
}

.wizard .content h1.title {
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}

.wizard .help {
	width:219px;
	height:500px;
	padding-top:20px;
	background-color:#EFEFEF;
	border-left:1px solid #000;
}

.wizard .buttons {
	float:left;
	clear:both;
	width:100%;
	border-top:1px solid #000;
	background-color:#FFF;
	padding:10px 0;
}

.wizard .buttons > div {
	float:left;
	clear:none;
	display:inline-block;
}

.wizard .buttons .close {
	width:180px;
	text-align:center;
	margin-top:5px;
}

.wizard .buttons .close a {
	background:url(../img/icons.png) no-repeat 0 -328px;
	padding:3px;
	padding-left:20px;
}

.wizard .buttons .main {
	width:500px;
}

.wizard .buttons .main button {
	clear:none;
}

.wizard .buttons .main button .icon {
	background-repeat:no-repeat;
	background-image:url(../img/icons.png);
}

.wizard .buttons .main .back {
	float:left;
}

.wizard .buttons .main .next {
	float:right;
}

.wizard .buttons .main .back .icon {
	background-position:0 -1188px;
}



.wizard .buttons .main .next .icon {
	background-position:0 -1218px;
}


