//  @see core/doc/theme.html for todoyu corporate identity color-table

	//  Corporate color, todoyu CI: shades of olive-green
$colorCorporate00:#f6f8f0;
$colorCorporate01:#edf1e0;
$colorCorporate02:#e3eace;     // Main background color
$colorCorporate03:#e1e5d8;
$colorCorporate04:#d0d6be;
$colorCorporate05:#adb989;
$colorCorporate06:#969C85;   // dark-olive, used for overlay

	// Basic colors
$white:#ffffff;
$black:#000000;
$colorTextGeneral:#010101;

	// Greys for general interface elements (backgrounds, headers, forms, etc)
$grey00:#f8f8f8;
$grey01:#eeeeee;
$grey02:#dddddd;
$grey03:#cccccc;
$grey04:#bbbbbb;
$grey05:#aaaaaa;
$grey06:#999999; // Most prominent grey
$grey07:#666666;
$grey08:#444444;
$grey09:#222222;

	// Highlightning, todoyu CI: yellow
$colorHighlight01:#e9eda1;

	// Positive marking, todoyu CI: green
$colorPositive03:#c8d215;
$colorPositive04:#c8ddbe;
$colorPositive05:#9dc08e;
$colorPositive06:#779124;

	// Alert marking, todoyu CI: red
$colorAlert00:#ff0000;
$colorAlert01:#ad5050;
$colorAlert02:#991010;

	// todoyu CI: blue
$blue00:#b9eefc;
$blue01:#a8c7de;
$blue02:#50c5b5;
$blue03:#4f8ab4;
$blue04:#24a5c3;