

/****************************************************************************
* todoyu is published under the BSD License:
* http://www.opensource.org/licenses/bsd-license.php
*
* Copyright (c) 2012, snowflake productions GmbH, Switzerland
* All rights reserved.
*
* This script is part of the todoyu project.
* The todoyu project is free software; you can redistribute it and/or modify
* it under the terms of the BSD License.
*
* This script is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the BSD License
* for more details.
*
* This copyright notice MUST APPEAR in all copies of the script.
*****************************************************************************/

	// General system settings
Todoyu::$CONFIG['SYSTEM']['name'] 			= '{addslashes($name)}';
Todoyu::$CONFIG['SYSTEM']['locale']			= '{$locale}';
Todoyu::$CONFIG['SYSTEM']['email']			= '{addslashes($email)}';

	// Mailer settings
Todoyu::$CONFIG['SYSTEM']['mailer']				= '{$mailer}';
{if $mailer=='smtp'}
Todoyu::$CONFIG['SYSTEM']['smtp_host'] 			= '{$smtp_host}';
Todoyu::$CONFIG['SYSTEM']['smtp_port']			= '{$smtp_port}';
Todoyu::$CONFIG['SYSTEM']['smtp_authentication']= '{$smtp_authentication}';
	{if $smtp_authentication=='1'}

Todoyu::$CONFIG['SYSTEM']['smtp_username'] 		= '{$smtp_username}';
Todoyu::$CONFIG['SYSTEM']['smtp_password'] 		= '{$smtp_password}';
	{/if}
{/if}

	// Date and time settings
Todoyu::$CONFIG['SYSTEM']['timezone']		= '{$timezone}';
Todoyu::$CONFIG['SYSTEM']['firstDayOfWeek']	= {$firstDayOfWeek|default:1};

	// Command line interface
Todoyu::$CONFIG['SYSTEM']['todoyuURL']		= '{$todoyuURL}';

	// Debugging
Todoyu::$CONFIG['SYSTEM']['logLevel']		= {$logLevel};



Todoyu::$CONFIG['SYSTEM']['encryptionKey']	= '{$encryptionKey}';
