/* Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

/* general content styles */
	/* headings */

	h1 input.button {
		position: absolute;
		right: 10px;
		top: 7px;
	}
	h1.title_hostingDatasheet {
		background: #d5dee5 url(../../img/sprite-icons.png) no-repeat 5px -452px;
		padding: 5px 0 7px 26px;
	}

	h3.title_userBaseData, h3.title_ftpData, h3.title_dbData, h3.title_domainData, h3.title_typo3Data {
		width:416px;
	}

	h3.title_userBaseData {
		background: #d5dee5 url(../../img/sprite-hostingdatasheet.png) no-repeat 5px 0;
		padding: 5px 0 7px 26px;
	}
	h3.title_ftpData {
		background: #d5dee5 url(../../img/sprite-folders.png) no-repeat 5px -46px;
		padding: 5px 0 7px 30px;
	}
	h3.title_dbData {
		background: #d5dee5 url(../../img/sprite-hostingdatasheet.png) no-repeat 5px -44px;
		padding: 5px 0 7px 22px;
	}
	h3.title_domainData {
		background: #d5dee5 url(../../img/sprite-hostingdatasheet.png) no-repeat 5px -24px;
		padding: 5px 0 7px 26px;
	}
	h3.title_typo3Data {
		background: #d5dee5 url(../../img/sprite-hostingdatasheet.png) no-repeat 5px -62px;
		padding: 5px 0 7px 24px;
	}



	/* table */
		table.normal {
			table-layout: fixed;
			width: 100%;
		}

			table.normal tr th,
			table.normal tr td {
				padding: 1px 10px;
				vertical-align: middle;
			}

				table.normal tr th {
					position: relative;
					height: 13px;
					padding-top: 20px;
					padding-bottom: 10px;
					background: url(../../img/sprite-content.png) repeat-x 0 -144px;
				}

				table.normal tr {
					/*background: url(../../img/sprite-content.png) repeat-x 0 -122px;*/
					background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
				}
					table.normal tr.multiTD {
						background-image: none;
					}

					table.normal tr.odd { background-color: #f7f8fa; }
					table.normal tr:hover { background-color: #d5dee5; }

	/* ----------------------------------------------
		filter presents
	------------------------------------------------ */
		#panel .portalFilter #filterPresetsBox-1 {
			padding: 10px;
			background: #F7F9FA url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

			#panel .portalFilter span.name {
				display: none;
			}

			#panel .portalFilter select {
				height: auto;
				max-height: 200px;
				width: 240px;
				margin-bottom: 4px;
			}
			.filterPresets li:hover {
				background-color:#F9F9F9 !important;
			}

	/* ----------------------------------------------
		quickTask
	------------------------------------------------ */
		#panel #quickTaskForm .standardForm {
			padding: 10px;
			background: #F7F9FA url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}




	/* ----------------------------------------------
		Projekt�bersicht: page Tree
	------------------------------------------------ */


			/* --------------------------------------
				Projektheader items
			--------------------------------------- */
			li.projPerson {
				background:url(../../img/sprite-icons.png) no-repeat 12px -1238px  !important;
				padding:0 0 0 26px;
			}
			li.projInvoice{
			  padding:0 0 0 10px;
			}

			#costctrl_total a.costctrlReload,
			#costctrl a.costctrlReload{
				display: block;
				background: url(../../img/sprite-icons.png) no-repeat 0 -1294px !important;
				width: 16px;
				height: 16px;
				margin-left: 300px;
				margin-top: -15px;
			}

			#costctrl table,
			#costctrl_total table{
				width: 350px;
			}

			#costctrl_total .num,
			#costctrl .num {
				text-align: right;
			}

			#costctrl_total .red,
			#costctrl .red {
				color: red;
			}

			#costctrl_total .green,
			#costctrl .green {
				color: green;
			}

			#costctrl_total .last_tr,
			#costctrl .last_tr {
				border-top: 1px #000 solid;
			}

			#costctrl_total .last_tr td,
			#costctrl .last_tr td{
				padding-top: 3px;
			}

	/* ----------------------------------------------
		Projekt�bersicht: Task-Status-Filter
	------------------------------------------------ */
		#tree_status li a.info {
			display: block;
			padding: 2px 5px 1px 5px;
			background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

			#tree_status li * {
				color: #000;
			}

		#tree_status li.expanded {
			background-color: #dcefd4;
		}

			#tree_status li.expanded * {
				color: #000;
			}

	/* ----------------------------------------------
		Projekt�bersicht: Projekt-Status-Filter
	------------------------------------------------ */
		#projektStatusFilter .filter {
			position: relative;
			padding: 5px 5px 10px 5px;
			background: #e9f2ff url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

			#projektStatusFilter .filter .name {
				display: block;
				width: 100%;
				margin-bottom: 5px;
				cursor: pointer;
			}

			#projektStatusFilter .filter .cancel {
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
				height: 10px;
				width: 10px;
				background: url(../../img/sprite-icons.png) no-repeat 0 -1215px;
				cursor: pointer;
			}

		#projektStatusFilter #filterControls {
			padding: 7px 5px;
			background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

		#projektStatusFilter #filter-0 {
			display: none;
		}

		.projTasksFilter {	/* task title filter in projects area */
			padding:6px 0 8px 4px;
			background-color:#E9F2FF;
		}
		.projTasksFilter input {
			margin:4px 0 0 0;
			width:240px;
		}

	/* ----------------------------------------------
		taskliste: portal filter
	------------------------------------------------ */
		#panel .taskFilter .filterBox{
			padding-bottom: 24px;
			background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

		#panel .taskFilter ul {
			margin-bottom: 5px;
		}

		#panel .taskFilter ul li {
			position: relative;
			clear: both;
			height: auto !important;
			height: 1px;
			background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
			cursor: pointer;
		}

			#panel .taskFilter ul li span.label {
				display: block;
				padding:2px 8px 3px 5px;
			}

			#panel .taskFilter ul li span.delete,
			#panel .taskFilter ul li span.save,
			#panel .taskFilter ul li span.movUp,
			#panel .taskFilter ul li span.movDown {
				display: block;
				position: absolute;
				width: 10px;
				height: 10px;
			}

				#panel .taskFilter ul li span.delete {
					top: 5px;
					right: 5px;
					background: url(../../img/sprite-icons.png) no-repeat 0 -1215px;
				}

				#panel .taskFilter ul li span.save {
					top: 4px;
					right: 18px;
					background: url(../../img/sprite-icons.png) no-repeat 0 -112px;
				}

				#panel .taskFilter ul li span.movUp {
					top: 4px;
					right: 44px;
					background: url(../../img/sprite-icons.png) no-repeat 0 -858px;
				}

				#panel .taskFilter ul li span.movDown {
					top: 4px;
					right: 33px;
					background: url(../../img/sprite-icons.png) no-repeat 0 -884px;
				}

		#panel .taskFilter input.button {
			float: right;
		}

	/* ----------------------------------------------
		Verrechnung
	------------------------------------------------ */
		#advbilling #panel .advbilling_greenHeader { color: green; }
		#advbilling #panel .advbilling_orangeHeader { color: orange; }
		#advbilling #panel .advbilling_redHeader { color: red; }

		#advbilling #panel .helptext {
				padding: 5px 0 7px;
				font-size: 11px;
				background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

		/* project */
			#advbilling #panel #jumpToProject,
			#advbilling #panel #jumpToHosting {
				position: absolute;
				top: 8px;
				left: 100px;
				width: 155px;
			}

			#advbilling #panel #advbilling_update {
				padding: 8px 0 8px 12px;
				background: url(../../img/content/hr_hor.png) repeat-x 0 bottom;
				text-align: right;
			}

			#advbilling #panel #jumpToProject_acList {
				border: 1px solid #000;
				background: #fff;
				z-index: 1000;
			}

		/* tables */
			#advbilling #panel table.normal tr td {
				padding: 1px 0;
				vertical-align: top;
			}

			#advbilling #panel table.normal td.col-1 {
				width: 100px;
			}

			#advbilling #panel table.normal td.number {
				width: 40px;
				overflow: hidden;
			}

			#adbilling #panel .advbilling_first_div,
			#adbilling #panel .advbilling_second_div {
				display: block;
				float: left;
			}

			/* zu pruefende rechnungen */
				#advbilling #panel table.normal tr input.advbilling_approveCheckbox { margin-left: 3px; }
				#advbilling #panel table.normal tr input.advbilling_previewButtion { margin-bottom: 3px; }
				#advbilling #panel table.normal tr td p { margin-bottom: 3px; }
				#advbilling #panel table.normal tr.supervisor { outline: 1px solid #ff0000; }
				#advbilling #panel table.normal tr.supervisor td.col-1 { padding-left: 3px; }
				#advbilling #panel table.normal tr.supervisor td.col-2 { padding-right: 3px; }

		/* task - status in preview */
		#advbilling #midCol #newInvoice td.planing { background-color: #7f007f; }
		#advbilling #midCol #newInvoice td.customer { background-color: pink; }
		#advbilling #midCol #newInvoice td.open { background-color: #f00; }
		#advbilling #midCol #newInvoice td.feedback { background-color: purple; }
		#advbilling #midCol #newInvoice td.inprogress { background-color: #ffac00; }
		#advbilling #midCol #newInvoice td.confirmation { background-color: #fffc00; }
		#advbilling #midCol #newInvoice td.done { background-color: #77dc00; }
		#advbilling #midCol #newInvoice td.accepted { background-color: green; }
		#advbilling #midCol #newInvoice td.rejected { background-color: #a60000; }
		#advbilling #midCol #newInvoice td.quicktask { background-color: #00aeff; }
		#advbilling #midCol #newInvoice td.cleared { background-color: grey; }
		#advbilling #midCol #newInvoice td.date { background-color: #85c1fc; }
		#advbilling #midCol #newInvoice td.container { background-color: #fbfbf4; }
		#advbilling #midCol #newInvoice td.warranty { background-color: #2335e0; }

		#advbilling .leftBox table.normal tr.active { background-color: #d5dee5; }

		#advbilling .invoiceAddressHelper {
			position: absolute;
			float:left;
			display:inline;
			left: 40px;
			height: 16px;
			width: 16px;
		}

		#advbilling .invoiceAddressHelper a {
			display: block;
			height: 16px;
			width: 16px;
			background: url(../../img/icons/invoiceAddressHelper.png) no-repeat 0 0;
			text-indent: -9999px;
			cursor: pointer;
		}
/* ==================================================
	midCol
===================================================== */
	/* ----------------------------------------------
		portal tabs
	------------------------------------------------ */


	/* ----------------------------------------------
		Task List - Portal, Project, Filter
	------------------------------------------------ */


					/* projekte */



						/*	--------------------------------
							 dl - task & project properties
							--------------------------------

							#taskList .properties * {
								color: #000;
							}

							#taskList .properties dl dt {
								display: block;
								float: left;
								clear: both;
								width: 45%;
								font-weight: normal;
							}

							#taskList .properties dl dd {
								display: block;
								float: left;
								width: 45%;
							}
*/
						/* --------------------------------
							formulare
						   --------------------------------
						*/
							#taskList .inlinetaskfrom_mailbox {
								position: relative;
								top: 10px;
								clear: both;
								width: 100%;
								margin-bottom: -22px;
								padding: 10px 0 32px 0;
								background: #F7F9FA url(../../img/content/hr_hor.png) repeat-x 0 0;
							}

								#taskList .inlinetaskform_displayNone,
								#taskList .inlinetaskform_mbnoaccesslevel {
									display: none;
								}

								#taskList .inlinetaskfrom_mailbox .taskCcMail {
									position: relative;
								}

								#taskList .inlinetaskfrom_mailbox .taskCcMail input {
									position: absolute;
									top: 2px;
									right: 60px;
									width: 13px;
								}

								#taskList .inlinetaskfrom_mailbox select.inlinetaskform_selTaskCutRecips {
									height: 60px;
								}


		.fixTask {
			background: #FFFDF4 url(../../img/sprite-icons.png) no-repeat 4px -1318px;
			border: 1px dotted #E5E7E8;
			padding:2px 0 4px 16px;
			font-size:9px !important;
			margin:0 0 8px 0;
		}











	/* ----------------------------------------------
		Zeiten
	------------------------------------------------ */
		#timetracks #subMenu {
			margin: 17px 0 20px -15px;
		}

		/* csv export */
			#timetracks h1 {
				padding-left: 23px;
			}

			/* filter */
				#timetracks .filter .values {
					display: block;
					margin: 10px 0;
					border-top: 1px dotted #d5dee5;
				}

				#timetracks .filter .value {
					display: block;
					padding: 2px 3px 1px 3px;
					border-bottom: 1px dotted #d5dee5;
					cursor: pointer;
				}

					#timetracks .filter .value:hover {
						background: #d5dee5;
					}

				#timetracks .filter .dateBox input {
					width: 156px !important;
					width: 160px;
					margin-right: 10px;
					float: left;
				}

				#timetracks input.buttonSubmit {
					margin: 10px 0;
				}

				#timetracks span.information {
					display: block;
					padding: 10px 0;
				}

		/* tagesübersicht */
			#timetracks .todoyuactions_monthlink {
				padding: 0 8px;
				border: 1px solid #0065A6;
				background-color: #f7f8fa;
			}

			#timetracks .todoyuactions_monthlinkBackground {
				background-color: #d5dee5;
			}
			a.todoyuactions_monthlink:hover {
				background-color:#5795C1 !important;
				color:#fff;
			}

			/* table */
				#timetracks table.normal {
					width: auto;
				}

				#timetracks td.date {
					width: 100px;
				}

				#timetracks td.time {
					width: 100px;
				}

				#timetracks tr.timetracksTRdetails td {
					padding-top: 10px;
				}

	/* ----------------------------------------------
		filter, zeiten, agenda: filterbox
	------------------------------------------------ */
		#filterActionControls .filterActionControlsNewFilterSelector,
		#filterActionControls .filterActionControlsLogicConjunctionsSelector,
		#filterActionControls .filterActionControlsGetOrderBySelector,
		#filterActionControls .filterActionControlsgetOrderDirectionSelector,
		#filterActionControls .filterActionControlsGetLimitField {
			position: absolute;
			top: 8px;
		}

			#filterActionControls .filterActionControlsNewFilterSelector {
				left: 10px;
			}

				#filterActionControls .filterActionControlsNewFilterSelector select {
					width: 210px;
				}

			#filterActionControls .filterActionControlsLogicConjunctionsSelector {
				left: 225px;
			}

			#filterActionControls .filterActionControlsGetOrderBySelector {
				left: 281px;
			}

			#filterActionControls .filterActionControlsgetOrderDirectionSelector {
				top: 6px;
				left: 435px;
				height: 20px;
				width: 20px;
				text-align: center;
				cursor: pointer;
			}

			#filterActionControls .filterActionControlsGetLimitField {
				left: 455px;
			}

				#filterActionControls .filterActionControlsGetLimitField input {
					width: 25px;
				}

		#filterBox {
			position: relative;
			margin-bottom: 20px;
			padding: 10px 0 0 10px;
			background: #F7F9FA url(../../img/content/hr_hor.png) repeat-x 0 bottom;
		}

			#filterBox .filter {
				position: relative;
				float: left;
				width: 190px !important;
				width: 200px;
				margin: 0 10px 10px 0;
				padding: 5px;
				border: 1px dotted #000;
			}

				#filterBox .filter .name {
					display: block;
					width: 100%;
					margin-bottom: 5px;
					font-weight: bold;
					cursor: pointer;
				}

				#filterBox .filter .cancel {
					display: block;
					position: absolute;
					top: 7px;
					right: 7px;
					height: 10px;
					width: 10px;
					background: url(../../img/sprite-icons.png) no-repeat 0 -1215px;
					cursor: pointer;
				}

				#filterBox .filter .field {
					clear: both;
				}

					#filterBox .filter .field select {
						height: auto;
						max-height: 100px;
					}

	/* ----------------------------------------------
		verrechnungen
	------------------------------------------------ */
		#advbilling h1 {
			padding-left: 23px;
		}

		/* form */
			#advbilling #filterBox {
				margin: 0;
				padding-bottom: 10px;
			}

			#advbilling div.left {
				float: left;
				width: 50%;
			}

				#advbilling div.left .padding {
					padding: 0 20px;
				}

			#advbilling div.right {
				float: left;
				width: 50%;
			}

				#advbilling div.right .padding {
					padding-right: 20px;
				}

					#advbilling div.specialDateFormat span {
						display: block;
						float: left;
					}

					#advbilling div.specialDateFormat span.dateBox {
						width: 71px;
					}

					#advbilling div.specialDateFormat span.toSpacer {
						width: 5px;
						margin: 0 5px 0 10px;
					}

			/* freetext translation */
				#advbilling ul#changeFreeText {
					position: absolute;
					right: 10px;
					z-index: 1000;
				}

					#advbilling ul#changeFreeText li {
						float: left;
						margin-right: 5px;
					}

						#advbilling ul#changeFreeText li a {
							display: block;
							width: 18px;
							height: 13px;
						}

						#advbilling ul#changeFreeText a#langD { background: url(../../img/sprite-flags.png) no-repeat 0 -16px; }
						#advbilling ul#changeFreeText a#langF { background: url(../../img/sprite-flags.png) no-repeat 0 -103px; }
						#advbilling ul#changeFreeText a#langE { background: url(../../img/sprite-flags.png) no-repeat 0 -74px; }
						#advbilling ul#changeFreeText a#langI { background: url(../../img/sprite-flags.png) no-repeat 0 -45px; }

		/* tables */
			#advbilling #midCol .tableTitle {
				padding-top: 20px;
				font-weight: bold;
			}

			#advbilling table td.currency { text-align: right; }

			#advbilling table#newInvoice th.col-check { width: 3px; }
			#advbilling table#newInvoice th.col-date { width: 50px; }
			#advbilling table#newInvoice th.col-task { width: 45px; }
			#advbilling table#newInvoice th.col-amount { width: 30px; }
			#advbilling table#newInvoice th.col-entity { width: 40px; }
			#advbilling table#newInvoice th.col-individual { width: 45px; }
			#advbilling table#newInvoice th.col-entire { width: 65px;}

			#advbilling table#newInvoice th,
			#advbilling table#projectInvoices th { background:none !important; background-color:#E4EAEF !important; }

	/* ----------------------------------------------
		new Agenda
	------------------------------------------------ */
		#newAgenda h1 {
			padding-left: 23px;
		}

		#newAgenda #subMenu {
			position: relative;
			left: -15px;
			margin-bottom: 20px;
		}

		#newAgenda .agendaBox {
			position: relative;
		}

		/* general */
			#newAgenda #agendaBox table {
				table-layout: fixed;
				width: 100%;
				background-color: #d5dee5;
			}

				#newAgenda #agendaBox table td {
					border: 1px #fff solid;
					border-width: 1px 0 0 1px;
				}

				#newAgenda #agendaBox table td.weekdays {
					height: 30px;
					font-weight: bold;
					vertical-align: middle;
				}

					#newAgenda div.dayDate {
						position: relative;
						height: 20px;
						background-color: #fff;
					}

					#newAgenda div.today {
						background-color: #FBFCA3;
						border: 1px solid #fff;
					}
					div.dayDate { border:1px solid #B6BCC5; padding-left:12px; padding-top:4px; padding-bottom:4px; }
					a.dayDate { margin:0 0 0 -10px; padding:2px 8px 7px 8px; border:1px dotted #5D5D61; }

					#newAgenda div.date,
					#newAgenda div.dayEntryNormal,
					#newAgenda div.dateEntryMonth {
						border: 1px solid #000;
						background-color: #fff;
						cursor: pointer;
					}

						#newAgenda div.date,
						#newAgenda div.dayEntryNormal {
							position: absolute;
							height: 13px;
							width: 110px;
							margin: 2px 5px;
							padding: 2px 4px;
						}

						#newAgenda div.dayEntryNormal {
							width: 106px;
							margin: 0 0 0 50px;
							padding: 2px 4px 0 4px;
							overflow: hidden;
						}

						#newAgenda div.dateEntryMonth {
							width: 119px;
							margin: 2px 0;
							padding: 2px 0 2px 5px;
							line-height: 16px;
							overflow: hidden;
						}
						div.dateEntryMonth { border:1px solid #fff !important; }
						div.dateEntryMonth.holidays { border:1px solid #fff !important; }

						.appointment { background-color:#fff; }
						#newAgenda div.compensation, span.compensation,
						#newAgenda div.absent, span.absent { background-color:#9AB1C1; /*#6274ff;*/ border-color: #fff; color:#fff; }
						#newAgenda div.birthday, span.birthday { background-color: #d7c3e7; border-color: #7e7188; }
						#newAgenda div.vacations, span.vacations { background-color: #ABE2AC; /*#54ff58;*/ border-color: #fff; } /*green*/
						#newAgenda div.education, span.education { background-color: #f9d29a; border-color: #E9EDF1; }
						#newAgenda div.meeting, span.meeting { background-color: #D0EFEC; border-color:#71818e; }

						.legenda { margin: 12px 0 0 0; padding: 6px 12px 8px 12px; border-width:1px; border-style:solid; }

			/* task detail */
				#newAgenda #taskDetails {
					position: absolute;
					left: 300px;
					width: 592px;
					height: auto;
					background-color: #467CA4;
					z-index: 100;
				}

					#newAgenda #taskDetails #close {
						position:absolute;
						right:4px;
						top:3px;
					}

					#newAgenda #taskDetails #edit {
						position:absolute;
						right:42px;
						top:3px;
					}

					#newAgenda #taskDetails #delete {
						position:absolute;
						right:24px;
						top:3px;
					}

					#newAgenda #taskDetails h3 {
						height: 17px;
						background-color: #467CA4;
						color: #fff;
						display: block;
					}

					#newAgenda #taskDetails .taskDetailBody {
						padding:1px 1px 1px 3px;
						overflow:auto;
						height:250px;
						background:#fff url(../../img/sprite-background.png) repeat-y 0 -167px;
					}

						#newAgenda .dateDetailRight {
							position: absolute;
							right: 0;
							top: 35px;
							height: 250px;
							padding: 1px 0 0 4px;
						}

						#newAgenda .dateDetailRight dt{
								clear:left;
								float:left;
								font-size:10px;
								line-height:18px;
								margin-right:12px;
								text-align:left;
								width:89px;
							}

							#newAgenda .dateDetailRight dd	{
								font-size:10px;
								line-height:18px;
								margin-right:12px;
							}

		/* filter form */
			#newAgenda #filterBox {
				height: 180px !important;
				height: 200px;
				padding: 10px;
			}

			#newAgenda #filterBox form,
			#newAgenda #filterBox .filtercalendar {
				float: left;
			}

			#newAgenda #filterBox form {
				width: 300px;
			}

			#newAgenda #filterBox .filtercalendar {
				position: absolute;
				right: 10px;
			}

			#newAgenda #filterBox .filtercalendar table {
				width: 250px;
			}

		/* day view */
			#newAgenda .printWholeDay {
				position: absolute;
				right: 3px;
				top: 4px;
			}

		/* week view */
		/* month view */
			#newAgenda table.amonth td {
				height: 100px;
				background-color:#E5ECEF;
			}

				#newAgenda table.amonth td.weeknum {
					padding:0 0 0 2px;
					width: 18px;
				}

		/* datelist view */

		/* old */
			#newAgenda table.dayOverview  {
				width:120px;
				margin-left:2px;
			}

			#newAgenda table.aweek td.globalrow {
				height:25px;
			}

			#newAgenda table.dayOverview span.dayDate {
				width:34px;
			}
			#newAgenda a.newDate {
				position:absolute;
				right:3px;
				margin-top:4px;
			}
			#newAgenda td.weekdays {
				text-align:center;
				vertical-align:middle;
				line-height:15px;
			}
			#newAgenda td.anhour {
				line-height:15px;
				height:15px;
			}
			#newAgenda td div.dateEntry {
				/*border-bottom:1px #000 dotted;*/
				margin:1px 3px;
				padding:3px 1px;
			}
			#newAgenda h2.month {
				background-color:#3366ff;
				color:#fff;
				font-weight:bold;
				text-align:center;
				vertical-align:middle;
				line-height:20px;
			}
			#newAgenda .scrollableInlineContainer {
				margin-left:2px;
				/*overflow:auto;
				height:200px;*/
			}

			#newAgenda .filter	{
				margin-left: 40px;
			}

			#quickinfo {
				position:absolute;
				background-color: #fff;
				z-index: 100;
				border: 1px solid #467CA4;
			}

			#quickinfo table td{
				padding: 5px;

			}

			.calendar tbody td.selected { /* Cell showing selected date */
			  font-weight: normal;
			  padding: 2px 4px 2px 2px;
			  border: 1px solid;
			  border: none;
			  background: #d8e0e4;
			}

			.calendar tbody tr.rowselected td { /* Row showing selected date */
			  border-color: #000 #fff #fff #000;
			  background: #d8e0e4;
			}

			.calendar tbody .rowhilite td.wn {
			  background: #c8d4d0;
			}

			.calendar tbody td.hilite { /* Hovered cells <TD> */
			  padding: 2px 4px 2px 2px;
			  border: none;
			  border-color: #fff #000 #000 #fff;
			}

			.calendar tbody td.selected { /* Cell showing selected date */
				font-weight: normal;
				padding: 2px 4px 2px 2px;
				border: 1px solid;
				border: none;
				background: #d8e0e4;
			}

			.calendar tbody tr.rowselected td { /* Row showing selected date */
				border-color: #000 #fff #fff #000;
				background: #d8e0e4;
			}

			.calendar tbody .rowhilite td.wn {
				background: #c8d4d0;
			}

			.calendar tbody td.hilite { /* Hovered cells <TD> */
				padding: 2px 4px 2px 2px;
				border: none;
				border-color: #fff #000 #000 #fff;
			}

	/* ----------------------------------------------
		Verwalten - Manage
	------------------------------------------------ */
		#singleCol h1 {
			padding-left: 23px;
		}

		#middleBoxManage table tr th.manageHandleEntries,
		#middleBoxManage table tr td.manageHandleEntries {
			width: 100px;
			text-align: right;
			background: none;
		}

		#middleBoxManage table tr th.manageHandleEntries {
			padding: 10px 10px 0 0;
			background: transparent url(../../img/sprite-content.png) repeat-x scroll 0pt -34px;
		}

		#middleBoxManage table tr th {
			background: transparent url(../../img/sprite-content.png) repeat-x scroll 0pt -34px;
			padding: 10px 10px 0 10px;
		}

	/* ------------------- task context menu */
	#contextmenu li.inlineEditContainer a { background:url(../../img/sprite-folders.png) no-repeat 0 -366px; }
	#contextmenu li.inlineEditDate a { background-image:url(../../img/calendar/date_edit.png); }
	#contextmenu li.deleteContainer a { background:url(../../img/sprite-folders.png) no-repeat 0 -16px; }

	/* ------------------------------------------------
		advbilling
	--------------------------------------------------*/
		#advbilling #subMenu {
			position: relative;
			left: -15px;
			margin-bottom: 20px;
		}

	/* -----------------------------------------------
		History
	-------------------------------------------------*/

		#history #subMenu {
			position: relative;
			left: -15px;
		}

		#history #subSubMenu{
			position: relative;
			left: -15px;
		}

		#history .historyexpl div{
			padding: 5px 3px;
		}

		#history .historyexpl div.new{
			border-left: 6px #77DC00 solid;
		}

		#history .historyexpl div.update{
			border-left: 6px #FFAC00 solid;
		}

		#history .historyexpl div.delete{
			border-left: 6px #FF0000 solid;
		}

		#history #midCol .historyPageBrowser {
			height: 20px;
			width: auto;
			margin-bottom: 10px;
			background: transparent url(../../img/subNav_bg.png) repeat-x scroll 0 6px;
		}

		#history #midCol .historyPageBrowser li {
			display: block;
			float: left;
			height: 20px;
			width: auto !important;
			width: 1px;
			padding: 2px 5px;
			cursor: pointer;
		}

		#history #midCol .historyPageBrowser li.cur {
			background: transparent url(../../img/subNav_a_act_bg.png) no-repeat scroll center bottom;
			font-weight: bold;
		}

		#history .history_table {
			margin: 2px 0 3px 30px;
		}

		#history .history_table tr {
			border: 1px #000 solid;
		}

		#history .history_table tr.odd {
			background-color: #F7F8FA;
		}

		#history .history_table td,
		#history .history_table th {
			padding: 4px;
		}

		#history .history_table td.red {
			color: red;
		}

		#history .history_table td.green {
			color: green;
		}

		#history #taskList .billable-time,
		#history #taskList .tasknumber {
			max-width: 9999px;
			text-align: right;
			display: block;
			width: 75px;
		}

		#history .history_title {
			margin-left: 30px;
		}



	/* -----------------------------------------------
		diverses
	-------------------------------------------------*/
		#closeSubForm	{
			margin: 5px 2px 10px 240px;
		}

		#createSubFormButton {
			right:-25px;
			top:4px;
			margin: 0 -2px 0 100px;
			text-transform: uppercase;
			color: #fff;
			padding: 1px 0;
			z-index: 1;
		}





/* ... */
.taskOfferedFor {
	width: 16px;
	height: 16px;
	background: url(../../img/sprite-icons.png) no-repeat -60px -108px !important;
}

div.infoTooltip { border:1px solid #B7C7D3; padding:2px 4px 8px 4px; background-color:#F8F8EA; z-index:200; position:absolute; }

div ul li a:hover span.welcomeHoverWord { text-decoration:underline; }	/* hovers in welcome-popup */

div.birthdayTooltip {	/* tooltip showing birthdays on rollover of a specific day in agenda */
	display:none;
	border:1px solid #A1A7AA;
	z-index:1500;
	position:absolute;
	top:20px;
	padding:4px 4px 8px 4px;
	width:140px;
	background-color:#F1F1DE;
	color:#2D2D29;
	font-size:9px !important;
}

/* ************ resource planning: ********* */
.rpHeadline {
	text-transform: uppercase;
	letter-spacing: 0.9px;
}

/* **********Address popup *************** */
#addressInformationContainer {
	position: absolute;
	width: auto;
	height: auto;
	top: 100px;
	left: 400px;
	background-color: #fff;
	border: 2px #000 solid;
	padding: 10px;
}

	#addressInformationContainer .chooseLink a	{
		display: block;
		margin: 5px 0;
		border: 1px #006699 solid;
		background: transparent url(../../img/sprite-content.png) repeat-x scroll 0 0;
		width: auto;
		color: #fff;
		padding: 2px;
		text-transform: uppercase;
		cursor: pointer;
	}

	#addressInformationContainer .description	{
		border: 1px #006699 solid;
		padding: 3px;
		margin-top: 5px;
	}