
/* quicktask form */
	#quickTaskForm textarea {
		height: 100px;
	}

/* edit task & edit form */
	#taskList .taskForm textarea {
		height: 270px;
	}

	/* formFieldRowDiv */
		#taskList .taskForm .formFieldRowDiv {
			background: transparent;
			padding: 0;
		}

		#taskList .taskForm .formFieldRowDiv .formLabel {
			display: none;
		}

		#taskList .taskForm .formFieldRowDiv .formField {
			width: 100%;
		}

	#taskList .taskForm .right .padding {
		padding: 0 20px 0 0;
	}

	#taskList .taskForm input.button {
		float: right;
		margin-left: 10px;
	}

/* task options forms */


/* filter form elements (projekt�bersicht) - projektStatusFilter */
	#projektStatusFilter .filter .field input {
		width: 256px !important;
		width: 261px;
	}

	#projektStatusFilter .filter .field select {
		width: 260px;
	}

	#filterControls select {
		width: 257px;
	}

/* filter form elements (taskliste) */
	.filter input {
		min-height: 20px;
		width: 186px !important;
		width: 190px;
	}

	.filter select {
		width: 190px;
	}

/* Manage Forms */
	.dbform #singleCol {
		margin: 40px auto 0 auto;
		width: 550px;
	}

	.middleBoxManageEdit {
		padding: 10px 40px 10px 30px;
		background: #f7f9fa url(../img/content/hr_hor.png) repeat-x 0 bottom;
	}

/* advbilling */

/* edit_person_form: activitylevel wizard */
table.activitylevelCalendar { width:270px; margin:8px 0 12px -2px !important; }
table.activitylevelCalendar td{ padding:2px 2px 4px 2px; }
table.activitylevelCalendar td.titleCell { font-weight:bold; background-color:#F7F9FA;}
table.activitylevelCalendar td.titleCellSmall { background-color:#F7F9FA; font-size:9px !important;}
table.activitylevelCalendar tr.titleRow { background-color:#F7F9FA;}
table.activitylevelCalendar td.tdHr { background-color:#6D7D88 !important; height:1px; padding:0; }
table.activitylevelCalendar td.tdVr { background-color:#6D7D88 !important; width:1px !important; padding:0 !important; }
table.activitylevelCalendar td input { width: 22px; margin:0 2px 0 0; }



/* unknown */
.optionalDatasheetInterface {
	margin: 0 0 0 194px;
	width: 320px;
	padding:12px 0 18px 230px;
}

.formSubSectionBottomSpaced {
	margin: 12px 0 0 0;
}
.formSubSectionBottomSpaced {
	margin:0 0 18px 0;
}

/* resource planning: */
.resplanSel option[disabled] { color: #aaa !important; }