/* -------------------- advbilling: */
/* -------------------- billing: */
/*
.billing_jumpToProject,
.advbilling_jumpToProject {
	z-index:1000;
	border:1px solid black;
	background-color:white;
	width:700px;
}
*/

/*
.billing_updateButton,
.advbilling_updateButton {
	margin:4px 0 8px 12px;
}

.advbilling_previewButtion {
	margin-left:106px;
}

.advbilling_greenHeader {
	color:green;
}

.advbilling_orangeHeader {
	color:orange;
}

.advbilling_redHeader {
	color:red;
}
*/

/*
.billing_first_div,
.advbilling_first_div {
	margin-left:8px;
}

.billing_second_div,
.advbilling_second_div {
	margin-left:16px;
	margin-bottom:5px;
}

.advbilling_third_div {
	margin-left:24px;
	margin-bottom:5px;
}

.advbilling_approveCheckbox {
	margin-left:5px;
}
*/

/* -------------------- customer_footer */
/*.customerfooter_footer {
	position:absolute;
	bottom:-42px;
	left:-1px;
	width:896px;
	background-color:#fff;
	padding:16px 0 12px 24px;
	height:76px;
	border-color:#7f9db9;
	border-width:1px 1px 0 1px;
	border-style:solid;
}

.customerfooter_floatLeft {
	float:left;
}

.customerfooter_sfpimage {
	padding:0 24px 0 0;
}

.customerfooter_secondDiv {
	float:left;
	font-size:9px !important;
	line-height:16px;
}

.customerfooter_sfptext {
	padding:0 12px 10px 0;
}

.customerfooter_supporttext {
	letter-spacing:4px !important;
}

.cutomerfooter_contact {
	margin:6px 0 0 0;
}

.customerfooter_thirdDiv {
	padding:52px 0 0 480px;
	float:left;
	font-size:9px !important;
	line-height:16px;
}

.customerfooter_sfpmanual {
	padding:0 6px 0 0;
}
*/
/*------------------------------ create_invoice_form */
/*------------------------------ create_invoice_form_advanced */
/*.createinvoiceformadvanced_textalginleft,
.createinvoiceform_textalginleft {
	text-align:left;
}

.createinvoiceform_textalgincenter,
.createinvoiceformadvanced_textalgincenter {
	text-align:center;
}

.createinvoiceitem_datefield,
.createinvoiceitemadvanced_datefield {
	width:65px;
}

.createinvoiceformadvanced_cancelImage,
.createinvoiceform_cancelImage {
	position:absolute;
	top:10px;
	left:560px;
}

.createinvoiceformadvanced_saveButtonWrap,
.createinvoiceform_saveButtonWrap {
	text-align:right;
	width:500px;
	margin-top:15px;
	margin-bottom:15px
}

.createinvoiceformadvanced_saveButton,
.createinvoiceform_saveButton {
	width:160px!important;
}

.createinvoiceformadvanced_floatleft {
	float:left;
}

.createinvoiceformadvanced_displayBlock {
	display:block;
}

.createinvoiceformadvanced_freetext {
	padding-right:30px;
}

.createinvoiceformadvanced_freetextMenuIcon {
	display:block;
	width:18px;
	height:13px;
}

.createinvoiceformadvanced_freetextMenuIconGer {
	background-image:url(images/ger.png);
}

.createinvoiceformadvanced_freetextMenuIconFrz {
	-moz-opacity:0.4;
	background-image:url(images/frz.png)
}
.createinvoiceformadvanced_freetextMenuIconEng {
	-moz-opacity:0.4;
	background-image:url(images/en.png)
}
.createinvoiceformadvanced_freetextMenuIconIta {
	-moz-opacity:0.4;
	background-image:url(images/ita.png)
}
*/
/*------------------------------ inline_task_form */
/*.inlinetaskform_accesslevel {
	padding:0 0 110px 0;
}

.inlinetaskform_noaccesslevel {
	padding:0 0 9px 0;
}*/

/*.inlinetaskform_rightFromCol {
	padding:12px 0 0 10px !important;
}*/

/*
.inlinetaskform_mbaccesslevel {
	display:block;
}

.inlinetaskfrom_mailbox {
	clear: both;
	border:1px dotted #ccc;
	border-width:1px 0 0px 0;
	padding:12px 0 9px 10px;
	background-color:#fafafa;
}

.inlinetaskform_mailboxprojects {
	width:579px;
}

.inlinetaskform_mailboxtasks {
	width:599px;
}

.inlinetaskform_selTaskCutRecips {
	margin:0pt 4px 0pt 30px;
	height:78px;
	width:320px;
}

.inlinetaskform_tdMenu {
	padding:0 0 0 4px;
}

.inlinetaskform_mailboxbutton {
	margin:0pt 0pt 0px;
}

.inlinetaskform_taskCcMail {
	margin:0pt 0pt -2px 8px;
}

.inlinetaskform_emailSendButton {
	margin:0 0pt 2px;
}

.inlinetaskform_cancelButton {
	padding:0 0 0 12px;
	margin:0px 0pt 2px;
	width:86px !important;
}
*/
/*------------------------------ advbilling_preview */
/*.advbillingpreview_textAlignCenter {
	text-align:center;
}*/

.advbillingpreview_totalbilling {
	margin-top:15px;
	width:574px;
}

.advbillingpreview_totalbillingFirstTd {
	text-align:right;
	width:60%;
}

.advbillingpreview_cancelButton {
	position:absolute;
	top:10px;
	left:560px;
}

/*------------------------------ todoyu_renderInvoice.php */
.todoyurenderinvoice_total {
	padding:0 12px 0 0;
}

.todoyurenderinvoice_midcolboxbilling {
	border:1px solid #000;
	margin:20px 8px 20px 12px;
}

.todoyurenderinvoice_billingReportHeader {
	line-height:22px;
}

.todoyurenderinvoice_datefield {
	width:65px;
}

.todoyurenderinvoice_acutalquarterbutton {
	margin:0 0 0 12px;
}

.todoyurenderinvoice_cancelbutton {
	position:absolute;
	top:10px;
	left:560px;
}

/*------------------------------ agenda */
.agenda_displaynone {
	display:none;
}

.agenda_filtercontrols {
	padding:0 0 13px 13px;
}

/*------------------------------ todoyu_renderTree.php */
/*.todoyurendertree_navigateMain {
	margin:4px 0 0 0;
}

.todoyurendertree_filtercontrols {
	padding:0 0 13px 13px;
}*/

/*------------------------------ todoyu_output.php */
.todoyuoutput_clearDiv {
	clear:both;
	height:150px
}

/*.todoyuoutput_mainMenu {
	margin:-42px 0 0 0;
}*/

.todoyuoutput_taskjumperInput {
	margin:0 2px 0 12px;
}

.todoyuoutput_displayNone {
	display:none;
}

/*------------------------------ todoyu_renderTask.php */
.timewarning {
	width:10px;
	margin:0 0 -14px 0;
	z-index:20;
	position:relative;
	padding:5px 0 0 0;
}

.todoyurendertask_visibleforcustomer {
	padding:3px 0 0 0;
}

.todoyurendertask_displayNone {
	display:none;
}

.todoyurendertask_placholdertable {
	width:100%;
}

.todoyurendertask_imgblank {
	padding:0 6px 0 0;
}

.todoyurendertask_endtime {
	width:56px;
}

.todoyurendertask_withsubtasks {
	width:454px;
}

.todoyurendertask_taskNumber {
	width:54px;
}

.timesup {
	color:#a60000 !important;
}

.todoyurendertask_addcommentbutton {
	cursor:pointer;
}

.todoyurendertask_billabletime {
	margin:0 0 0 22px;
}

/*------------------------------ index.php */
.index_debugOutput {
	 color:lime;
}

/*------------------------------ todoyu_actions.php */
.todoyuactions_backButton {
	margin-top:20px;
	margin-bottom:20px;
}

.todoyuactions_renderRecordConatiner {
	background-color:#fff;
	padding:4px 0 8px 8px;
	border:solid 1px;
}

.todoyuactions_renderRecordLabel {
	font-weight:bold;
	padding:3px;
}

.todoyuactions_renderRecordFieldValue {
	padding:3px;
}

.todoyuactions_middleBoxManage {
	margin:6px 40px 12px 20px;
}

.todoyuactions_manageFindLabel {
	font-weight:bold;
}

.todoyuactions_oldesFeedbacksStatusExpanded {
	margin:0 0 24px 0;
}

.todoyuactions_collapseexpand	{
	padding:2px 0 0 0;
}

.todoyuactions_ajaxdestination {
	margin:0 0 -23px 0 !important;
}

.todoyuactions_displayNone {
	display:none;
}

.todoyuactions_mostAncientTaskClearTr {
	height:24px;
	background-color:#F5F5F5;
}

.todoyuactions_daytimetrackTr {
	background-color:#F5F5F5;
}

.todoyuactions_daytimetrackTd {
	padding:0 0 0 12px;
}

/*
.todoyuactions_timetrackTable {
	padding:0 10px 0 10px;
	line-height:18px;
	width:280px;
	background-color:#A1C68A;
	height:1px !important;
}

.todoyuactions_timetrackMonthLabel {
	letter-spacing:2.5px;
}*/

.todoyuactions_upwhite {
	margin:0 12px 0 0;
}

.todoyuactions_downwhite {
	padding:0 0 0 4px;
}
/*
.todoyuactions_timetrackDetails {
	margin:5px;
	padding:0 0 0 8px;
}
*/

.todoyuactions_timetrackDetailsSecond {
	margin:5px;
}

.todoyuactions_timetrackHeader {
	letter-spacing:1.5px !important;
}

.todoyuactions_timetrackingByDate {
	margin-bottom:20px;
}

/*------------------------------ portal.html: */
#filterPresetsBox-0 .leftbox.quickTask {
	margin:30px 0 0 0;
}
.button.playButton.todayTaskTrackBut {
	float:right;
	margin:1px;
}

/*------------------------------  login.html: */
.loginKey {
	z-index:20;
	position:relative;
	top:-7px;
	left:260px;
}

/*------------------------------ timetracks.html: */
.filterbox-container .filter {
	float:left;
}
b.timetracksBoldHeader {
	padding:0 0 0 4px;
	letter-spacing:1.5px !important;
}

/*------------------------------ class.todoyu_assets.php: */
/*
img .assetsTogglerIcon {
	padding:2px 4px 0 0;
}
.taskAssetsTopPanel {
	margin:0px 0 4px 6px;
	padding:0 0 12px 0;
	background-color:#FDFCF8;
}
.assetsTopOptionsButtonsArea {
	width:100%;
	background-color:#F4F4F4;
	height:22px;
	padding:6px 0 2px 6px;
	margin:0 0 4px 0;
}
.assetsTopOptionsRightPart {
	float:right;
	margin:-18px 12px 0 0px;
}
.dlArchiveBut {
	margin:0 12px 0 0;
}
.assetsUploader {
	border:1px solid #ccc;
	margin:-2px 0 2px 6px;
	width:580px;
	background-color:#fbfbfb;
	padding:6px 0 4px 0px;
}
form.assetsUploadForm {
	line-height:22px;
	margin:0 0 8px 0;
	padding:0 0 0 6px;
}
.assetsFilelistHeaderSFP {
	background-color:#E0E7FF;
}
.assetsFilelistHeaderCust {
	background-color:#ECD5D5;
}
th.assetsFilelistTHfullSel {
	padding:0 0 1px 4px;
	border:1px solid #fff;
	width:48px;
}
input.button .uploadSingleButton {
	margin:12px 4px 0 2px
}

.assetFilesList {
	padding:2px 0 0 6px;
}
tr.assetsFilelistHeaderSFP th.assetsFilelistHeaderFilenames, tr.assetsFilelistHeaderCust th.assetsFilelistHeaderFilenames {
	padding:0 0 1px 4px;
	border:1px solid #fff;
}
tr.assetsFilelistHeaderSFP th.assetsFilelistHeaderFilensizes, tr.assetsFilelistHeaderCust th.assetsFilelistHeaderFilenames {
	padding:0 0 1px 4px;
	border:1px solid #fff;
	width:70px;
}
tr.assetsFilelistHeaderSFP th.assetsFilelistHeaderDates, tr.assetsFilelistHeaderCust th.assetsFilelistHeaderDates {
	padding:0 0 1px 4px;
	border:1px solid #fff;
}
tr.assetsFilelistHeaderSFP th.assetsFilelistHeaderOpts, tr.assetsFilelistHeaderCust th.assetsFilelistHeaderOpts {
	padding:0 0 1px 4px;
	border:1px solid #fff;
	width:28px;
}
td.assetsFileListEntryTD, td.assetsFilelisttitleFnameTD, td.assetsFilelisttitleFsizeTD, td.assetsFilelistUlDateTD, td.assetsFilelistOpTD, td.assetsFilelistcruser {
	padding:0 0 0px 4px;
	border:1px solid #fff;
}
td.assetsFilelistUlDateTD {
	width:110px;
}
input.assetsSel {
	margin:-6px 1px 0 0;
}
div.assetsULfile {
	padding:0 0 0 6px;
	background-color:#F4F4F4;
}
input.assFileInp {
	margin:0 12px 0 0;
}
label.assetsAccLevelZero {
	color:#999;
}
input[type=checkbox].assTopCheckbox {
	margin:0 0 0 16px;
}
th.assTHheaderFrom {
	padding:0 0 1px 4px;
	border:1px solid #fff;
}
.cursorPointer {
	cursor:pointer;
}
tr.assetRowMarkedCustVisi {
	background-color:#F4F4F4;
}
div.assULfileWidCust {
	width:274px;
}
div.assULfileWidSfp {
	width:420px;
}
div.assUlOddFile {
	background-color:#FBFBFB;
}
table.assFilelistHeaderTablPortal {
	width:588px;
}
table.assFilelistHeaderTablNonPortal {
	width:572px;
}
*/
/*------------------------------ class.todoyu_actions.php: */
/*.timetracksTR {
	margin: 5px;
}

.timetracksTRdetails {
	margin: 5px;
	border:1px solid #B2B9C0;
	border-width: 1px 0 0 0;
	background-color:#ECF3F9
}*/

/*------------------------------  class.todoyu_dbform.php: */


/*------------------------------  class.t3lib_div: */
table.t3debugXtra {
	border: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
}

table.t3debugXtra tr td {
	background-color: #bbbbbb;
	font-family: verdana,arial;
	font-weight: bold;
	font-size: 10px;
}
td.debugRow {
	background-color: #bbbbbb;
	font-family: verdana,arial;
	font-weight: bold;
	font-size: 10px;
}

/* ------------------------------ class.todoyu_pibase.php: */
form.listSearchBox {
	margin: 0;
}

/* -------------------------------- class.todoyu_div.php: */
.autocompleterList {
	z-index: 1000;
	border: 1px solid black;
	background-color: #fff;
	width: 700px;
}

div.leftBox bookmarks ul li.oddRow {
	background-color: #EEF1F4;
}

input.autocompleterSword {
	width: 200px;
}

/* ------------------------------ class.singleRecord.php: */

a.contactInfoMailLink, a.contactInfoMailLink link {
	z-index: 1;
	color: #777;
}

/* ------------------------------ class.todoyu_assets.php: */
/*
div.taskAssetsTopPanelScrollDispPortal {
	overflow-x: scroll;
	margin: 0px 0 4px 6px;
	padding: 0 0 12px 0;
	background-color: #FDFCF8;
	border: 1px solid #7a9077;
	height: auto;
	clear: both;
	overflow-y: auto;
	overflow-x: hidden;
	width:594px;
}
*/
/*
div.taskAssetsTopPanelScrollDispNotPortal {
	overflow-x: scroll;
	margin: 0px 0 4px 6px;
	padding: 0 0 12px 0;
	background-color: #FDFCF8;
	border: 1px solid #7a9077;
	height: auto;
	clear: both;
	overflow-y: auto;
	overflow-x: hidden;
	width:582px;
}
*/
/* ------------------------------ class.todoyu_output.php: */

input #ttPauseButton {
	background: #fff url(\'../images/pause_small.png\') no-repeat;
	margin: 2px 0 4px 0;
}

/* ------------------------------ class.todoyu_renderForm.php: */
/*div.submitDbFormDiv {
	padding:24px 0 0 0; !important;
}*/

/*div.formFieldRowDiv {
	margin-left: 20px;
}*/

div #taskMailBox {
	/*display: none;*/
	border: 1px dotted #ccc;
	margin: 38px 0 -20px 0px;
	padding: 12px 8px 8px 8px;
	clear: both;
	background-color: #fafafa;
	/*width: 550px;*/
	height: 82px;
}

select #selCustRecips {
	margin: 0 4px 0 30px;
	height: 78px;
	width: 320px;
}

td.taskMailBoxAddOptsTD {
	padding:0 0 0 4px;
}

input.toggleAllNone {
	margin: 0;
}

input[type=checkbox] #ccCommentMail {
	margin: 0 0 -2px 8px;
}

input[type=button] .emailSendButton {
	margin: 8px 0 2px;
}

/* --------------------- class.todoyu_renderProject.php: */
h3.headerProjTermine {
	margin: 20px 4px;
}

/* ---------------------- class.todoyu_renderDateView.php: */
td.singleDayWid {
	width: 14%;
}

td.header_singleDayWid {
	width:14%;
}

/* ------------------------- class.todoyu_renderBase.php: */
div.stundenblattMargin {
	margin-top: 30px;
}

/* ------------------------- portal.html: */
.expandedpanelSubBox {
	cursor:pointer;
	background-image:url(../img/panel_titlebar_collapse.png) !important;
}
.collapsedpanelSubBox {
	cursor:pointer;
	background-image:url(../img/panel_titlebar_expand.png) !important;
}

/* ------------------------- ? */
.acListFieldHtmlDiv {
	z-index: 1000;
	border: 1px solid black;
	background-color: white;
	width: 700px;
}

.fieldDefTextarea {
	color: #d9d9d9 !important;
/*	margin: -105px 0 76px 32px;*/
}

/* --------------------------------- admin specific styles: */
.clearCacheButton,.clearCacheButton a,.clearCacheButton a:link {
	border:1px solid #000;
	background-color:#fff;
	padding:4px 8px 4px 4px;
	z-index:300;
	left:860px;
	top:200px;
	position:absolute;
	border-width:1px 2px 2px 1px;
}

/* ------------------------------- ? */
/*div.time {
	margin:4px 0 12px -6px;
	border-top: 1px dotted #68869F;
	border-bottom: 1px dotted #68869F;
}*/

/* ---------------------------- projects.html / filterBase.js (dyn. rendered filters in 'projekte' ): */
/*div.filterProjStatus {
	border-top: 1px dotted #68869F;
	margin:8px 0 8px 0;
	padding:8px 0 0 0;
	text-transform:uppercase;
	cursor:pointer;
}
input.projectsNameFilterVisible {
	position: relative;
	left: 100px;
	top: -26px;
}
div.projectsNameFilterInvisible {
	display:none;
}
div #filter-0.filter span.field input[type=text] {
	display:none;
}

div#filter-1.filter span.name span.field select {
	margin:0 0 12px 0;
}*/

/* warning: quick and dirty orbit workaround following ! */
/*
span#ab6747a5c282095b551fc8f63ef7b9f66 {
	margin:20px 20px 20px 12px;
}
span#aac4f2b92df9f6351a746d9ff8af71a29 {
	margin:20px 38px 20px 12px;
}
span#a7c56a31c25c8b14aed29fdd0e0db5dcb {
	margin:20px 39px 20px 12px;
}
span#a0f51bb783944cd759d0a7c83f2797955 {
	margin:20px 19px 20px 12px;
}
.ab6747a5c282095b551fc8f63ef7b9f66, .aac4f2b92df9f6351a746d9ff8af71a29, .a7c56a31c25c8b14aed29fdd0e0db5dcb {
	margin:0 12px 0 0;
}
#filterinput_dateStart_trigger, #filterinput_dateEnd_trigger {
	margin:0 24px 0 12px;
}
span#a0e62cc59c22faa9c181c42d23c5819ce {
	margin:0 6px 0 12px;
}
*/

/* ------------------------------- todoyu_output.php, hosting specific: */
#datasheetAccessData {
	display:none;
	margin:0 0 0 -130px;
}
.dsadLabelDiv {
	float: left;
	width: 130px;
}
.dsadFieldDiv {
	margin:0 0 4px 0;
}

.whoisDataBlockTitle {
	float: left;
	width: 160px;
}
.whoisDataBlockTitle label {
	font-family: courier,serif !important;
}
.whoisDataBlockContent {
	float: left;
	font-family: courier,serif !important;
}
/*
.contextmenu-trigger {
	margin:0 0 1px 0;
}
*/