#header, #footer {
	position: fixed;
}
#header {
	top: 10px;
	right: 10px;
}
#footer {
	bottom: 10px;
	right: 10px;
}
.pageBreak {
	page-break-before:always;
}
#items-headline {
	margin-top:100px;
}