#rpFilterBox { padding-bottom:24px; }
.personsSelector {
	width: 916px;
	border: 1px dotted #AAB1B7;
	border-width: 0 1px 1px 1px;
	padding: 0;
	margin-bottom: 12px;
}
#personSelectHeader {
	position: relative;
	padding: 6px 0 8px 12px;
	background: url(../img/sprite-content.png) repeat-x 0 -33px;
}
#maListing {
	margin:0 0 4px 0;
}
#togglePersonsSel {
	text-align: right;
	padding: 0 12px 0 0;
}
#graphsBox {
	position: relative;
	width: 916px;
	border: 1px dotted #AAB1B7;
	border-width: 0 1px 1px 1px;
	padding: 0;
	margin-bottom: 12px;
}
#graphsHeader {
	width: 904px;
	padding: 8px 0 12px 12px;
	background: url(../img/sprite-content.png) repeat-x 0 -279px;
	height: 75px;
}
#graphType {
	width: 160px;
	margin: 0 -2px 0 0;
}
#vZoom {
	width:60px;
}
#detailOptDiv {
	display: none;
	margin: -22px 0 0 278px;
}
#rpDetails {
	padding: 0 0 0 18px;
	cursor: pointer;
}
select#detailed {
	width: 70px;
}
#graphTypeOptions {
	display: none;
	margin: -16px 0 0 446px;
}
#ganttAddonOptions {
	display: block;
	float: left;
	margin: -14px 0 0 74px;
	color: #777;
	font-size: 9px;
}
#maxValSpan {
	display: none;
	float: right;
	margin: -18px 14px 0 18px;
}
#maxValsType { width: 20px; }
.sep2gi { padding:8px 0 4px 0; }
#workloadsTypes {
	float: left;
	margin: -16px 0 0 360px;
	display: block;
}
#legendSwitch {
	float: left;
	margin: -16px 0 0 540px;
	display: block;
}
#printButDiv {
	float: right;
	margin: -18px 12px 0 0;
}
#printButton { margin: 0 0 0 4px; }
#reloadButton { margin: 0 -16px 0 12px; }

#workloadsLegend {
	display: none;
}
#graphsContent {
	padding:4px 0 8px 6px;
}

/* ************ LABELS: ************ */

#ganttAddonOptions label {
	font-size: 9px !important;
}

label.labelTitle { padding: 0 0 0 18px; }

label.rpStatiLabel {}

#ganttAddonOptions input { margin-right:12px; }

label.labelPlaning {
	padding-left: 24px;
	background: url(../../../img/taskstati/sprite-staticolors.png) 18px -53px no-repeat;
}
label.labelAbnahme {
	padding-left: 7px;
	background: url(../img/taskstati/sprite-staticolors.png) 0 -86px no-repeat;
}
label.labelRejected {
	font-size: 9px !important;
	padding-left: 7px;
	background: url(../../../img/taskstati/sprite-staticolors.png) 0 -114px no-repeat;
}
label.labelAppointments {
	font-size: 9px !important;
	padding-left: 20px;
	background: url(../img/taskstati/sprite-staticolors.png) 13px -147px no-repeat;
}
label.labelContainer {
	font-size: 9px !important;
	padding-left: 7px;
	background: url(../img/taskstati/sprite-staticolors.png) 1px -180px no-repeat;
}

/* ************ DATE PICKERS: ************ */
#datePickerFromSpan {
	display: block;
	margin: 0 12px 0 0;
}
#starttstamp, #untiltstamp {
	width: 60px;
}
#datePickerUntilSpan {
	display: none;
	float: left;
	margin: -21px 12px 0 260px;
}
#timespanSummary {
	float: left;
	margin: -14px 0 0 206px;
	color: #777;
	font-size: 9px;
}
#deactivateDatepicker {
	display: none;
	z-index: 200;
	position: relative;
	left: 0px;
	top: -20px;
	width: 170px;
	height: 20px;
	background-color: #D5DEE5;
	margin: 0 0 -20px 0;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}

inlinetaskform_displayNone {
	display: none;
}