<div class="main">
	<input type="text" title="{Label core.input.autocompleter}" class="input textAC" id="{$baseID}" value="{htmlencode $valueLabel}" />
	<div id="{$baseID}-suggestions" class="acResultContainer"></div>
	<input id="{$baseID}-value" type="hidden" name="{$fieldname}" value="{$inputValue}" />
</div>
<div class="extra">
	{block "extra"}{/block}
</div>