<button type="{$type|default:button}" class="button {$class}" id="{$id}" onclick="{$onclick}" title="{if $title}{Label $title}{else}{Label $label}{/if}">
	<span class="icon"></span>
	<span class="label">{Label $label}</span>
	<span class="rgt"></span>
</button>