<button class="button {$class}" id="{$id}" onclick="{$onclick}" {if $title}title="{Label $title}"{/if}>
	<span class="icon"></span>
	<span class="label">{Label $label}</span>
	<span class="rgt"></span>
</button>