{if $multi}
	{if $withDates}
		{dateFormat $dateStart datetime} - {dateFormat $dateEnd datetime}
	{/if}
	{if $withDuration}
		 ({if $asDays}
			{$days}
				{if $days == 1}
					 {Label core.date.day}
				{else}
					 {Label core.date.days}
				{/if}
		{else}
			{if $hours > 0}
				{timeFormat $duration} {Label core.date.time.hours}
			{else}
				{intval($duration/60)} {Label core.date.time.minutes}
			{/if}
		{/if})
	{/if}
{else}
	{if $withDates}
		{dateFormat $dateStart date}, {dateFormat $dateStart time} - {dateFormat $dateEnd time}
	{/if}
	{if $withDuration}
		 ({if $hours > 0}
			{timeFormat $duration} {Label core.date.time.hours}
		{else}
			{intval($duration/60)} {Label core.date.time.minutes}
		{/if})
	{/if}
{/if}