<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Subject</title>
		<style type="text/css">

		</style>
	</head>

	<body>
		<table width="600" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td>Header</td>
		  </tr>
		  <tr>
			<td>Content</td>
		  </tr>
		  <tr>
			<td>Footer</td>
		  </tr>
		</table>
	</body>
</html>