<div id="footer">
	<div class="line"><hr size="1" /></div>
	<div class="address">&copy; <strong>todoyu</strong> by <a href="http://www.snowflake.ch/" target="_blank">snowflake productions gmbh</a>, Telefon +41 44 455 80 80, <a href="mailto:feedback@todoyu.com">feedback@todoyu.com</a>, <a href="http://www.todoyu.com/" target="_blank">www.todoyu.com</a> 	<span class="logo"><img src="core/assets/img/logo.png" alt="todoyu" width="85" height="60" /></span></div>
</div>