<div id="{$id}-mode-btn" class="button" title="{Label core.quickcreate.title}" >
	<div class="icon"></div>
</div>

<ul id="{$id}-modes" class="modes">
	
	{foreach $areaCreateModes createMode}
		<li class="engine primary createmode-{$createMode.type}" ext="{$createMode.ext}" mode="{$createMode.type}">
			{Label $createMode.labelMode}
		</li>
	{/foreach}

	{foreach $createModes createMode}
		<li class="engine createmode-{$createMode.type}" ext="{$createMode.ext}" mode="{$createMode.type}">
			{Label $createMode.labelMode}
		</li>
	{/foreach}
	
</ul>