{extends headlet.tmpl}

{block "button"}{/block}

{block "extra"}{/block}

{*
<div id="ajax-loader">
		<img style="display: none;" alt="{Label core.loading}" src="core/assets/img/ajax-loader.png"/>
	</div>
*}