<!-- <ul id="{$id}-menu"> -->
	{foreach $items item}
		<li class="item{ucfirst($item.id)} {$item.class}">
			<a class="{$id}-item-{$item.id}">{Label $item.label}</a>
		</li>
	{/foreach}
<!-- </ul> -->