{extends "core/view/headlet.tmpl"}

{block "headlet"}
	<form action="?" method="get" name="create" id="{$id}-form" onsubmit="return false">
		<div id="{$id}-mode-btn"><div id="{$id}-mode-icon" class="createmode-default"></div></div>
	<ul id="{$id}-modes">
{foreach $createModes createMode}
		<li class="createmode-{$createMode.type}" ext="{$createMode.ext}" mode="{$createMode.type}">{Label $createMode.labelMode}</li>
{/foreach}
	</ul>
	</form>
{/block}