<div id="head">
	<ul id="headlets">
		{foreach $headlets headlet}
			<li id="headlet-{$headlet.name}" class="headlet {$headlet.type}" title="{$headlet.label}">
				{$headlet.content}
			</li>
		{/foreach}
	</ul>
</div>