{if $noPaging || $page == 1 }
	<div class="paging-container" id="paging-{$config.name}">
{/if}

	<a id="{$offset}"></a>
	<table class="list {$config.name}Listing" id="paging-{$config.name}-table-{$page}" >

	{*-------------- Column titles ---------------*}
		<thead>
			<tr class="header">
				{foreach $config.columns colName label}
					<th scope="col" class="{$colName}">{Label $label}&nbsp;</th>
				{/foreach}
			</tr>
		</thead>
		<tbody>

	{*-------------- Rows ---------------*}
			{foreach $rows index row}
				<tr class="{cycle values="odd,even"}">
				  	{foreach $config.columns colName label}
				  		{$fieldClass = cat($colName Class)}
				  		<td class="{$colName} {$row[$fieldClass]}">{cleanHtml $row[$colName]}</td>
				    {/foreach}
				</tr>
			{/foreach}

		</tbody>
	</table>

	{*-------------- Listing show more entries option ---------------*}
{if ! $noPaging && $page < $pages}
	<div id="extendlisting">
		<a href="#pos{$nextPos}" onclick="Todoyu.Listing.more('{$name}',{$page})">Show more</a>
	</div>

	<script>
	Todoyu.Listing.init('{$config.name}', '{$config.update}', {$config.size}, {$offset}, {$total});
	</script>

	</div>
{/if}

