{if $noPaging || $page == 1 }
	<div class="paging-container" id="paging-{$config.name}">
{/if}

	<a id="{$offset}"></a>
	<table class="list {$config.name}Listing withMouseHover" id="paging-{$config.name}-table-{$page}" >

	{*-------------- Column titles ---------------*}
		<thead>
			<tr class="headerLine">
				{foreach $config.columns colName label}
					<th scope="col" class="{$colName} {if $dwoo.foreach.default.last}last{/if}">{Label $label}&nbsp;</th>
				{/foreach}
			</tr>
		</thead>
		<tbody>

	{*-------------- Rows ---------------*}
		{foreach $rows index row}
			<tr class="{cycle values="odd,even"}">
				{foreach $config.columns colName label}
					{$fieldClass = cat($colName Class)}
					<td class="{$colName} {$row[$fieldClass]}">
						<span class="{$colName}" {if $colName != 'actions'}title="{htmlencode($row[$colName])}"{/if}>
							{if $colName == 'actions'}
								{cleanHtml $row[$colName]}
							{else}
								{$maxLen = intval($config.truncate.$colName)}
								{if $maxLen == 0}{$maxLen = 16}{/if}
								{htmlencode(truncate($row[$colName],$maxLen,'...',true))}
							{/if}
						</span>
					</td>
				{/foreach}
			</tr>
		{/foreach}

		</tbody>
	</table>

	{*-------------- Listing show more entries option ---------------*}
{if ! $noPaging && $page < $pages}
	<div id="extendlisting">
		<a href="#pos{$nextPos}" onclick="Todoyu.Listing.more('{$name}',{$page})">Show more</a>
	</div>

	<script>
	Todoyu.Listing.init('{$config.name}', '{$config.update}', {$config.size}, {$offset}, {$total});
	</script>

	</div>
{/if}

