<div id="navi-main">
	<ul id="navi-main-list" class="navilist">
{foreach $navigation entry name=navimain}
		<li class="item item{$entry.key} bcl01{if $entry.active} active bcl02{/if}{if $entry.submenu} hasSub{/if}{if $dwoo.foreach.navimain.first} first{/if}{if $dwoo.foreach.navimain.last} last{/if}">
			<a href="{$entry.href}" title="{$entry.desc}"{if $entry.active} class="active"{/if}><span class="lt"><!-- --></span>{$entry.label}</a>
	{if $entry.submenu}
			<ul id="navi-main-list-{$entry.key}" class="navilist">
		{foreach $entry.submenu sub name=navimainsub}
				<li class="item item{$sub.key}{if $sub.active} active{/if}{if $dwoo.foreach.navimainsub.first} first{/if} bcl02">
					<a href="{$sub.href}" title="{$sub.desc}"{if $sub.active} class="active"{/if}>{$sub.label}</a>
				</li>
		{/foreach}
				<li class="item last bcl02">
					<span class="lb"><!-- last --></span>
					<span class="rb"><!-- last --></span>
				</li>
			</ul>
	{/if}
		</li>
{/foreach}
	</ul>
</div>