<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$pagetitle}</title>
{foreach $metatags metatag}
	<meta {if $metatag.name}name="{$metatag.name}"{/if} {if $metatag.httpequiv}http-equiv="{$metatag.httpequiv}"{/if} content="{$metatag.content}"  />
{/foreach}
{foreach $cssFiles cssFile}
	<link rel="stylesheet" type="text/css" href="{$cssFile.file}" media="{$cssFile.media}" />
{/foreach}
{foreach $jsFiles jsFile}
<script type="text/javascript" src="{$jsFile.file}"></script>
{/foreach}
{foreach $additionalHeaderData headerData}
	{$headerData}
{/foreach}

{*
<!--[if lte IE 7]>
	<link rel="stylesheet" media="screen" href="core/asset/css/compatibility/ie.css" />
<![endif]-->

<!--[if lte IE 7]>
	<link rel="stylesheet" media="screen" href="core/asset/css/compatibility/ie6.css" />
<![endif]-->
*}

<!--[if IE 8]>
	<link rel="stylesheet" media="screen" href="core/asset/css/compatibility/ie8.css" />
<![endif]-->


<link rel="shortcut icon" href="favicon.ico" />
</head>