<div class="panelWidget {$class}" id="panelwidget-{$id}">
	<h1 id="panelwidget-{$id}-h1" {if $collapsed}class="expand"{/if}>
		<span class="title" id="panelwidget-{$id}-title">{$title}</span>
		<span class="toggle {if $collapsed}expand{/if}" id="panelwidget-{$id}-toggle" title="{Label core.global.panelwidget.toggle}" onclick="Todoyu.PanelWidget.toggle('{$id}')"></span>
	</h1>
	<div class="content" id="panelwidget-{$id}-content" {if $collapsed}style="display:none"{/if}>
		{$content}
	</div>
</div>