<div id="popup-{$id}" class="popup" style="width:{$width|default:"400"}{if $width > 0}px{/if}; height:{$height|default:"240"}px; left:{$left|default:"100"}px; top:{$top|default:"100"}px;">
	<h1>
		<span class="title">{$title|default:"No title"}</span>
		<span class="closeButton" onclick="Todoyu.Ui.toggle('popup-{$id}');" title="{Label core.closeWindow}"><!-- --></span>
		<span class="rgt"><!-- --></span>
	</h1>
	<div id="innerContent">{$content}</div>
</div>