@import "../../config/theme.scss";



/* The main calendar widget.  DIV containing a table. */

div.calendar {
	z-index:3000;
	-webkit-box-shadow:2px 2px 5px $colorNeutral06;
	-moz-box-shadow:2px 2px 5px $colorNeutral06;
	box-shadow:2px 2px 5px $colorNeutral06;
}

div.calendar, div.calendar table {
	font-size:11px;
	color:$black;
	cursor:default;
	font-family:tahoma,verdana,sans-serif;
	background:$white url(../../../asset/img/bg-headers.png) no-repeat center -215px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* remove border-radius and box-shadow for panelwidget */
#panelwidget-calendar.calendar {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
#panelwidget-calendar.calendar, #panelwidget-calendar.calendar table {
	background:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

/* Header part -- contains navigation buttons and day names. */

div.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align:center;
	vertical-align:middle; /* They are the navigation buttons */
	padding:4px;
	border-bottom:1px solid $white;
}

div.calendar .nav {
	background:#D7DCC6 url(menuarrow.gif) no-repeat 100% 100%;
}

div.calendar thead .title {	/* This holds the current "month, year" */
	text-align:center;
	color:$black;
	padding:2px;
	vertical-align:middle;
	text-transform:uppercase;
	letter-spacing: 1px;
	border-bottom:1px solid $white;
}

div.calendar thead .button {
}

div.calendar thead .headrow { /* Row <TR> containing navigation buttons */
	background:#D7DCC6;
	color:$white;
}

div.calendar thead .headrow .button {
	border-bottom: 1px solid $colorNeutral03;
}

div.calendar thead .daynames { /* Row <TR> containing the day names */
	background:#E4EACE;
}

div.calendar thead .name { /* Cells <TD> containing the day names */
	border-bottom:1px solid $colorNeutral03;
	padding:2px;
	text-align:center;
	text-transform:uppercase;
	color:$black;
}

div.calendar thead .weekend { /* How a weekend day name shows in header */
	color:$black;
	text-transform:uppercase;
}

div.calendar thead .hilite { /* How do the buttons in header appear when hover */
	background-color:$white;
	color:$black;
}

/* The body part -- contains all the days in month. */

div.calendar tbody .day { /* Cells <TD> containing month days dates */
	width:2em;
	color:$black;
	text-align:right;
	padding:2px 4px 2px 2px;
	border-right:1px dotted $colorNeutral07;
	border-bottom:1px dotted $colorNeutral07;
}
div.calendar tbody .day.othermonth {
	font-size:80%;
	color:$colorNeutral04;
}
div.calendar tbody .day.othermonth.oweekend {
	color:#fbb;
}

div.calendar table .wn {
	padding:2px 3px 2px 2px;
	border-right:1px solid $colorNeutral03;
	background:$colorCorporate02;
}

div.calendar tbody .rowhilite td {
	background:$colorCorporate01;
}

div.calendar tbody .rowhilite td.wn {
	background:$colorCorporate04;
}

div.calendar tbody td.hilite { /* Hovered cells <TD> */
	background:$blue05;
	color:$white;
}

div.calendar tbody td.active { /* Active (pressed) cells <TD> */

}

div.calendar tbody td.selected { /* Cell showing today date */
	font-weight:bold;
	padding:1px 3px 1px 1px;
	background:$white;
	color:$black;
}

div.calendar tbody td.weekend { /* Cells showing weekend days */
	color:$colorNeutral06;
}
div.calendar tbody td.hilite.weekend { /* Cells showing weekend days */
	color:$white;
}

div.calendar tbody td.today { /* Cell showing selected date */
	font-weight:bold;
	color:$black;
	background-color:#E4EACE;
}

div.calendar tbody td.selected {
	background-color:#D3D9BF;
	font-weight:normal;
}

div.calendar tbody .disabled {
	color:$colorNeutral06;
}

div.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility:hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display:none;
}

/* The footer part -- status bar and "Close" button */

div.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align:center;
	background:#556;
	color:$white;
}

div.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	background:$white;
	color:#445;
	border-top:1px solid $colorNeutral03;
	padding:4px;
}

div.calendar tfoot .hilite { /* Hover style for buttons in footer */
	background:#aaf;
	border:1px solid #04f;
	color:$black;
	padding:1px;
}

div.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	background:#77c;
	padding:2px 0 0 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

div.calendar .combo {
	position:absolute;
	display:none;
	top:0;
	left:0;
	width:4em;
	cursor:default;
	background:#d7dcc6;
	color:$black;
	font-size:90%;
	z-index:3000;
	-webkit-box-shadow:2px 2px 5px $colorNeutral06;
	-moz-box-shadow:2px 2px 5px $colorNeutral06;
	box-shadow:2px 2px 5px $colorNeutral06;
}

div.calendar .combo .label,
div.calendar .combo .label-IEfix {
	text-align:center;
	padding:2px;
}

div.calendar .combo .label-IEfix {
	width:4em;
}

div.calendar .combo .hilite {
	background:#e4eace;
}

div.calendar .combo .active {
	background:$white;
	font-weight:bold;
}

div.calendar td.time {
	padding:5px 0;
	text-align:center;
	background-color:$white;
}

div.calendar td.time .hour,
div.calendar td.time .minute,
div.calendar td.time .ampm {
	padding:0 3px 0 4px;
	border:1px solid #889;
	font-weight:bold;
	background-color:$white;
}

div.calendar td.time .ampm {
	text-align:center;
}

div.calendar td.time .colon {
	padding:0 2px 0 3px;
	font-weight:bold;
}

div.calendar td.time span.hilite {
	border-color:$black;
	background-color:#667;
	color:$white;
}

div.calendar td.time span.active {
	border-color:#f00;
	background-color:$black;
	color:#0f0;
}

/* Bugfix for opera to force word wrap an table cell */
div.calendar td.ttip {
	width:223px;
}
