{if !$multiple}
	<option value="0">{Label form.select.pleaseSelect}</option>
{/if}
{foreach $options option}
	<option value="{$option.value}" {if $option.classname != ''}class="{$option.classname}" {/if}{if in_array($option.value, $value)}selected="selected"{/if} {if $option.disabled}disabled="disabled"{/if}>{Label $option.label true}</option>
{/foreach}