
<div id="foreignrecord-{$idRecord}-{$fieldname}-{$record._index}" class="databaseRelation">
	<div id="foreignrecord-{$idRecord}-{$fieldname}-{$record._index}-trigger" onclick="Todoyu.Form.toggleRecordForm({$idRecord}, '{$fieldname}', {$record._index})" class="formtrigger">
		<span class="label" title="{Label form.icon.edit}">{$record._label}</span>
		<span class="additionalStuff">
			<a href="javascript:void(0)" id="foreignrecord-{$idRecord}-{$fieldname}-{$record._index}-remove" class="icon remove removeForeignRecord remove-{$fieldname}" onclick="Todoyu.Form.removeRecord({$idRecord}, '{$fieldname}', {$record._index})" title="{Label form.icon.remove}"><span class="hidden">{Label form.icon.remove}</span></a>
		</span>
	</div>
	<div id="foreignrecord-{$idRecord}-{$fieldname}-{$record._index}-formhtml" {if $error != true}style="display:none"{/if}>
		{$record._formHTML}
	</div>
	<div class="clear"><!-- --></div>
</div>