{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<textarea name="{$htmlName}" id="{$htmlId}" cols="{$cols}" rows="{$rows}" class="{$inputClass} {$class}" {if $style}style="{$style}"{/if}>{cleanHtml $default}</textarea>
{/block}