{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<input type="{$type}" name="{$htmlName}" id="{$htmlId}" value="{$default}" class="{$inputClass} {$class}" {if $disabled}disabled="disabled"{/if} {$extraAttributes} />
{/block}