{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<select {$extraAttributes} name="{$htmlName}" id="{$htmlId}" class="{$inputClass} {$class}" size="{$size}" {if $multiple}multiple="multiple"{/if} {if $fieldClass}class="{$fieldClass}"{/if}>
	{if !isset($multiple) && !isset($noPleaseSelect)}
		<option value="0">{Label core.form.select.pleaseSelect}</option>
		<option value="0" disabled="disabled">---------------------------</option>
	{/if}
	{$anySelected = false}
	{foreach $options label group}
		{if $label != "none"}
			<optgroup label="{$label}">
		{/if}
		{foreach $group option}
			{if $anySelected == false}
				{if in_array($option.value, $valueTemplate)}
					{$isSelected =  true}
					{$anySelected = true}
				{else}
					{$isSelected = false}
				{/if}
			{else}
				{$isSelected = false}
			{/if}
			<option value="{htmlencode $option.value}" {if $option.classname != ""}class="{$option.classname}"{/if} {if $isSelected} selected="selected"{/if} {if $option.disabled}disabled="disabled"{/if}>{$option.label}</option>
		{/foreach}
		{if $label != "none"}
			</optgroup>
		{/if}
	{/foreach}
</select>
{/block}