<div id="formElement-{$htmlId}" class="fElement {$containerClass} {$class} {if $odd}odd{else}even{/if} {if $error}error{/if} {if $wizard.hasWizard}hasWizard{/if}" {if $style}style="{$style}"{/if}>
	<div id="formElement-{$htmlId}-labelbox" class="fLabel {if $required}required{/if}">
		<label for="{$htmlId}" id="{$htmlId}-label">{Label $label}</label>
		{if $required}<span class="required">*</span>{/if}
	</div>
	<div id="formElement-{$htmlId}-inputbox" class="fField{if $wizard.hasWizard} hasWizard{/if}">

		<span class="textBeforeField">{$textBeforeField}</span>

		{block name="field"}
			This part should be replaced by your field template
		{/block}

		<span class="textAfterField">{$textAfterField}</span>

		{if $error && $errorMessage}
			<span class="errorMessage">{Label $errorMessage plain=true}</span>
		{/if}

		{if $wizard.hasWizard}
			<span title="{Label $wizard.wizardConf.title}" class="wizardIcon {$wizard.wizardConf.htmlClass}" onclick="Todoyu.Form.openWizard('{$wizard.wizardConf.idRecord}', '{$htmlId}', '{$wizard.wizardConf.ext}', '{$wizard.wizardConf.controller}', '{$wizard.wizardConf.action}', '{$wizard.wizardConf.height}', '{$wizard.wizardConf.width}', '{Label $wizard.wizardConf.title true}');"></span>
			<div class="clear"></div>
		{/if}
	</div>
	<div class="fClear"><!-- --></div>
</div>