{extends "core/view/form/FormElement.tmpl"}

{block name="field"}

<div class="foreignRecordsActionControll overflow">
	{Button label="form.icon.add" class="addForeignRecord" id="add-record" onclick="Todoyu.Form.addRecord($idRecord, '$formname', '$fieldname', '$foreignRecordConf.addSubformConfig.ext', '$foreignRecordConf.addSubformConfig.controller')"}
	{Button label="form.databaserelation.expandAllRecords" class="expandAll" id="expand-all" onclick="Todoyu.Form.expandForeignRecords(['$fieldname'])"}
</div>
<div id="foreignrecords-{$idRecord}-{$fieldname}" class="foreignRecords" >
	{foreach $records index record}
		{include "core/view/form/FormElement_DatabaseRelation_Record.tmpl"}
	{/foreach}
</div>

{/block}