{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<select name="{$htmlName}" id="{$htmlId}" class="{$inputClass} {$class}" size="{$size}" {if $multiple}multiple="multiple"{/if} {if $fieldClass}class="{$fieldClass}"{/if}>
	{if !$multiple}
		<option value="0">{Label form.select.pleaseSelect}</option>
	{/if}
	{foreach $options label group}
		{if $label != "none"}
			<optgroup label="{$label}">
		{/if}
		{foreach $group option}
			<option value="{htmlencode $option.value}"{if $option.classname != ""} class="{$option.classname}" {/if}{if inArray($option.value, $value)} selected="selected"{/if}{if $option.disabled} disabled="disabled"{/if}>{$option.label}</option>
		{/foreach}
		{if $label != "none"}
			</optgroup>
		{/if}
	{/foreach}
</select>
{/block}