@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	letter-spacing: 0.2px;
}
h1 {
	text-transform: uppercase;
	margin: 0;
}
strong, h1, h2, h3, h4, h5, .enumedTitle, .keyword {
	color: #26455B;
	margin: 4px;
}
h5 {
	clear: none;
	float: left;
}
h3 {
	margin: 18px 0 0 0;
}
p {
	padding: 0 0 0 4px;
	margin: 0;
}

pre.xmlcode,
pre.htmlcode {
	font-family: 'Courier New';
	font-size:11px;
	overflow:scroll;
}
hr {
	margin: 6px 0 24px 0;
}
#contents {
	background-color: #D5DEE5;
	margin: 0;
	padding: 8px 0 0 0;
	float:left;
	height:100%;
	width: 20%;
	font-size: 12px;
	overflow-y: scroll;
	position: fixed;
}
#contents ul {
	margin: 0 0 0 -30px;
	list-style:none;
}
#contents ul a, #contents h2 {
	font-weight:normal;
}
#content {
	float:right;
	width: 78%;
	padding: 8px 0 48px 0;
}
#content p {
	margin: 0 0 0 -12px;
}
.leftCol {
	clear:none;
	float: left;
	width: 100px;
	margin: 0 12px 0 0;
}
.leftColWid2 {
	clear:none;
	float: left;
	width: 200px;
	margin: 0 12px 0 0;
}
.leftColWid3 {
	clear:none;
	float: left;
	width: 300px;
	margin: 0 12px 0 0;
}
.description {
	clear: right;
}
a, a:link {
	font-weight:bold;
	color: #26455B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#content a.external:before {
	content: ">";
}
#content a.internal:before {
	content: ">";
}
li div.description div.subTitle {
	margin: 0 0 0 12px;
	font-weight: bold;
	float: left;
	clear: left;
	width:100px;
}
li div.description div.description {
	margin: 0 0 0 12px;
	float: left;
	clear: right;
}
.review {
	color: #970101;
	background-color: #FFFCEB;
	font-style: italic;
}
.enumedTitle {
	clear: both;
	font-weight: bold;
	margin: 0 12x 0 0;
}
.code {
	font-family: courier;
	/*font-weight: bold;*/
	background-color: #EFEBE7;
	padding: 0 4px 0 4px;
}
.keyword {
	font-weight: bold;
}