.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #E3EACE;
	background-image: url(../../../../lib/js/tablekit/up.gif);
}
.sortdesc {
	background-color: #EDF1E0;
	background-image: url(../../../../lib/js/tablekit/down.gif);
}
.nosort {
	cursor: default;
}