#contextmenu {
	display:none;
	position:absolute;
	width:180px;
	z-index:100000;
	background-color:#f1f1f1;
	-webkit-box-shadow:2px 2px 7px #999;
	-moz-box-shadow:2px 2px 7px #999;
	box-shadow:2px 2px 7px #999;
}

	#contextmenu li {
		border:1px solid #d5dee5;
		margin-bottom:-1px;
	}

		#contextmenu li a,
		#contextmenu li span {
			display:block;
			padding:4px 10px 4px 29px;
			line-height:12px;
			background-color:#F8F8F8;
			background-repeat:no-repeat;
			cursor:pointer;
			text-align:left;
		}

			#contextmenu li a:hover,
			#contextmenu li span:hover {
				background-color:#E1E5D8;
			}

		#contextmenu li ul {
			display:none;
			position:absolute;
			z-index:100001;
			width:156px;
			-webkit-box-shadow:2px 2px 7px #999;
			-moz-box-shadow:2px 2px 7px #999;
			box-shadow:2px 2px 7px #999;
		}

		#contextmenu li.header a {
			padding:0 5px;
			font-weight:bold;
			background-color:#4F8AB4 !important;
			color:#FFF;
			font-size:10px;
			cursor:default;
		}



/* -----------------------------------
	Selected and disabled options
   ----------------------------------- */
ul.context-menu li a.selected,
ul.context-submenu li a.selected {
	background:url(../../asset/img/icons.png) no-repeat 12px -870px #c9dbd4;
}

.context-menu li a.disabled,
.context-submenu li a.disabled {
	cursor:default !important;
	color:#999 !important;
	background:url(../../asset/img/icons.png) repeat-x 0 -1540px !important;
}