#todoyuheadletajaxloader {
	width:27px;
	height:26px;
}


#todoyuheadletajaxloader .button {
	background:url(../img/ajax-loader.gif) no-repeat 7px 5px;
	border:none;
}

li#todoyuheadletajaxloader a {
	cursor:wait;
}

#todoyuheadletajaxloader a:hover {
	background-color:transparent !important;
}