#todoyuheadletquickcreate .button {
	background:url(../img/headlet-icons.png) no-repeat 1px 6px;
}

#todoyuheadletquickcreate .content li.primary {
	border-bottom:1px dotted #b9bbad;
	background-color:#edf0df;
}

#todoyuheadletquickcreate .content li.primary a {
	border-bottom:1px solid white !important;
}

#todoyuheadletquickcreate .content li.primary a:hover {
	background-color:white !important;
}