body {
	background-color:#e3eace;
}

#header {
	position:fixed;
	z-index:200;
	text-align:center;
	width:100%;
	left:0;
	background-color:#FFF;
	border-bottom:2px solid #e3eace;
}

	#header .inner {
		height:100px;
		text-align:left;
		width:978px;
		margin:0 auto;
	}

#box {
	position:relative;
	width:978px;
	padding-top:100px;
	margin:0 auto;
	text-align:left;
}

#contentBox {
	position:relative;
	width:973px !important;
	width:978px;
	min-height:415px;
	height:auto !important;
	height:415px;
	padding:1px 2px 0 3px;
}

#contentBoxTop {
	position:absolute;
	height:85px;
	width:978px;
	margin:-1px -2px 0 -3px;
}

#main {
	position:relative;
	clear:both;
	padding:0 0 80px 0;
}

#notification {
	margin:0 0 0 18px;
	padding:6px 8px 12px 8px;
	background-color:#f6f8f0;
	border:1px solid #aaa;
}



/* ----------------------
	Content column
   ----------------------*/
#right {
	position:relative;
	top:46px;
	float:left;
	width:680px;
}

*+html #right .inner {
	height:1%;
	padding-top:8px;
}

#right span.lt,
#right span.rt,
#right span.lb,
#right span.rb {
	display:block;
	position:absolute;
	width:13px;
	height:13px;
	background-color:transparent;
	background-image:url('../img/rounded-box02.png');
	background-repeat:no-repeat;
	background-position:0 0;
}

#right span.lt {
	display:none;
	/*
	top:0;
	left:0;
	*/
}
#todoyu-loginpage #right span.lt {
	display:block;
}

#right span.rt {
	top:0;
	right:0;
	background-position:100% 0;
}
#right span.lb {
	bottom:0;
	left:0;
	background-position:0 100%;
}
#right span.rb {
	bottom:0;
	right:0;
	background-position:100% 100%;
}

#content {
	padding:1px;
	margin:8px;
}

#content-body {
	position:relative;
	top:-28px;
	margin-bottom:-28px;
}



/* --------------
	Footer
   --------------*/
#footer {
	display:block;
	clear:both;
	position:relative;
	width:100%;
	height:70px;
	text-align:left;
	margin-top:100px;
	padding-top:20px;
}

#footer .inner {
	width:950px;
	margin:0 auto;
}

#footer-info {
	float:left;
	width:400px;
}

#footer-logo {
	float:left;
	width:140px;
	text-align:center;
}

#footer-address {
	float:right;
	width:400px;
	text-align:right;
}

#footer-line {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:5px;
	background:#B0D026 url('../img/bg-footer.png') repeat-y 0 top;
}



/* -----------------
	Panel
   ----------------- */
#panel * {
	font-size:11px;
}

.panelWidget {
	position:relative;
	margin-bottom:8px;
	padding-bottom:3px;
	background:url(../../../core/asset/img/hr-hor.png) repeat-x scroll 0 bottom;
}

.panelWidget h1 {
	height:26px;
	background-image:url('../img/bg-headers.png');
	background-repeat:no-repeat;
	background-position:0 -60px; /* allowedOpen open  */
	margin:0;
	padding:0;
}

.panelWidget h1.expand {
	background-position:0 0; /* allowedOpen close */
}

.panelWidget h1.deniedOpenClosed {
	background-position:0 -120px; /* deniedOpen close */
}

.panelWidget h1.deniedOpen {
	background-position:0 -180px; /* deniedOpen open */
}
	.panelWidget h1 span {
		display:block;
	}

	.panelWidget h1 span.title {
		float:left;
		clear:none;
		margin:0;
		padding:0 0 0 10px;
		line-height:26px;
	}

	.panelWidget.hasIcon span.title {
		padding-left:27px;
		background-image:url('../img/icons.png');
		background-repeat:no-repeat;
		background-position:1000px 50%;
	}

	.panelWidget h1 span.toggle {
		float:right;
		clear:none;
		width:22px;
		height:26px;
		background:url('../img/ico-toggle.png') no-repeat 6px 50%;
		cursor:pointer;
	}

	.panelWidget h1 span.expand {
		background:url('../img/ico-toggle.png') no-repeat -24px 50%;
	}

	*+html .panelWidget div.content {height:1%;} /* IE7 */

	.panelWidget .content select {
		border:0 none;
	}

	.panelWidget .content select option {
		padding:2px;
		background-color:#fff;
		border-bottom:1px solid #ddd;
		color:#333;
	}

	.panelWidget .content select option.odd {
		background-color:#f3f3f3;
	}

	.panelWidget .content select.filter option {
		color:#333;
	}

	.panelWidget .content select.filter option.selected {
		background-color:#adb989; /* bcl04 */
		color:#000;
	}



/* -------------------------------
	Styles & status
   ------------------------------- */
div.toggled {
	background-color:#adb989;font-weight:bold;
}

.odd {
	/*background-color:#fff;*/
}

.even {
	/*background-color:transparent;*/
}

div.error {
}

.noIcon {
	padding:0 !important;
	background-image:none !important;
}

.hasIcon {
	padding-left:20px;
}

span.exticon {
	background-repeat:no-repeat;
	padding:0 18px 16px 0;
	margin:0 2px 0 2px;
}

.iconEdit {
	background:url(../img/icons.png) no-repeat 3px -776px;
}

	/* planning */
.bcStatus1 {
	border-color:#7f007f;
}

.bgStatus1 {
	background-color:#7f007f;
}

	/* open */
.bcStatus2 {
	border-color:#FF0000;
}

.bgStatus2 {
	background-color:#FF0000;
}

	/* progress */
.bcStatus3 {
	border-color:#FFAC00;
}

.bgStatus3 {
	background-color:#FFAC00;
}

	/* confirm */
.bcStatus4 {
	border-color:#FFFC00;
}

.bgStatus4 {
	background-color:#FFFC00;
}

	/* done */
.bcStatus5 {
	border-color:#77DC00;
}

.bgStatus5 {
	background-color:#77DC00;
}

	/* accepted */
.bcStatus6 {
	border-color:green;
}

.bgStatus6 {
	background-color:green;
}

	/* rejected */
.bcStatus7 {
	border-color:#A60000;
}

.bgStatus7 {
	background-color:#A60000;
}

	/* cleared */
.bcStatus8 {
	border-color:#DBDBDB;
}

.bgStatus8 {
	background-color:#DBDBDB;
}

	/* warranty */
.bcStatus9 {
	border-color:#6085DD;
}

.bgStatus9 {
	background-color:#6085DD;
}

	/* customer */
.bcStatus10 {
	border-color:pink;
}

.bgStatus10 {
	background-color:pink;
}



/* ---------------------
	Toggle select
   --------------------- */
input.toggleSelect {
	display:none;
}

label.toggleSelect {
	padding:0 22px 18px 0;
	cursor:pointer;
}

label.toggleSelect.collapse {
	background:url('../img/toggle.png') no-repeat 0 -150px;
}

label.toggleSelect.expand {
	background:url('../img/toggle.png') no-repeat 0 -182px;
}

/* ---------------
	default width for span width display block
   --------------- */
.dateWithTime {
	width:98px;
}



/* ---------------
	Colors
   --------------- */
/* layout */
.bclFF {background-color:#fff;}
.bcl00 {background-color:#000;}
.bcl01 {background-color:#edf1e0;}
.bcl02 {background-color:#e3eace;}
.bcl03 {background-color:#d3dabb;}
.bcl04 {background-color:#adb989;}
.bcl05 {background-color:#9dc08e;}
.bcl06 {background-color:#c8ddbe;}
.bcl07 {background-color:#e9eda1;}
.bcl08 {background-color:#c8d215;}
.bcl09 {background-color:#779124;}
.bcl10 {background-color:#b9eefc;}
.bcl11 {background-color:#24a5c3;}
.bcl12 {background-color:#50c5b5;}
/*.bc13 {background-color:#;}*/

/* gray */
.bcgFF {background-color:#fff;}
.bcg00 {background-color:#000;}
.bcg01 {background-color:#e1e1e1;}
.bcg02 {background-color:#c6c6c6;}
.bcg03 {background-color:#e1e1e1;}
.bcg04 {background-color:#ecefe2;}
.bcg05 {background-color:#f4f4f4;}
.bcg06 {background-color:#666;}
.bcg07 {background-color:#bbb;}
/*.bcg08 {background-color:#;}*/
.bcg09 {background-color:#999;}

a.defaultCursor {
	cursor:default;
}