table.list {
	width: 100%;
	background-color:#fff;
}
table.list.autoWidthTable {
	width:auto;
}
table.list th,
table.list td {
	padding:3px 0 3px 5px;
	vertical-align:top;
}
table.list th:first-child,
table.list td:first-child {
	padding-left:0;
}
table.list td.icon {
}

/* ------------
	Hover
   ------------ */
table.withMouseHover tr:hover,
table.withMouseHover tr:hover .odd,
table.withMouseHover tr:hover .even,
ul.withMouseHover li.odd:hover,
ul.withMouseHover li.even:hover {
	background-color:#f2f2d2 !important;
}
table.withMouseHover tr.header:hover {
	background-color:transparent !important;
}

/* -----------------------------
	Odd and even alternation
   ----------------------------- */
table.list tr.odd,
table.listsimple tr.odd,
li.odd {
	background-color:#f3f3f3;
}

table.list tr.even,
table.listsimple tr.even,
li.even {
	background-color:#fff;
}

#extendlisting a {
	display:block;
	font-weight:bold;
	padding:9px 0 9px 20px;
	background:url(../img/icons.png) no-repeat 5px -289px;
}

#extendlisting a:hover {
	background-color:#f2f2d2;
}


/* -----------------------------
	Special elements in the table
   ----------------------------- */
table.list td > span.icon {
	height:25px;
	margin:-2px 4px -8px 2px;
}