#navi-main {
	position:absolute;
	z-index:100;
	bottom:0;
	left:0;
	width:100%;
}

ul#navi-main-list {
	margin:0 auto;
	width:978px;
}

ul#navi-main-list li {
	float:left;
	margin-right:3px;
}

ul#navi-main-list li.level1 {
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	-moz-box-shadow:inset 0 -1px 1px rgba(0,0,0,.15);
	-webkit-box-shadow:inset 0 -1px 1px rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 1px rgba(0,0,0,.15);
}
ul#navi-main-list li.level1:hover,
ul#navi-main-list li.level1.active {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

ul#navi-main-list li a {
	display:block;
	width:auto !important;
	width:1px;
	height:auto !important;
	height:1px;
	line-height:30px;
	padding:0 12px;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	white-space:nowrap;
}
	#navi-main-list li.item a {
		  color:#333;
	}
	#navi-main-list li.item a.active,
	#navi-main-list li.item a:hover {
		color:#000;
	}

ul#navi-main-list > li:hover a,
ul#navi-main-list > li a.active {
	background-image:none;
}

ul#navi-main-list li.active {
	background-color:#e3eace; /* bcl02 */
}

ul#navi-main-list li:hover {
	background-color:#d3dabb; /* bcl03 */
}

#todoyu-loginpage ul#navi-main-list li:hover {
	background-color:#e3eace;
}



/* -------------------
	Level 2
   ------------------- */
ul#navi-main-list li:hover ul {
	left:auto;
}

ul#navi-main-list li ul {
	position:absolute;
	top:29px;
	left:-9999px;
	z-index:1;
	width:270px !important;
	margin-top:1px;
	text-transform:none;
	clip:rect(0px, 277px, 277px, -7px);
	-webkit-box-shadow:2px 2px 5px #999;
	-moz-box-shadow:2px 2px 5px #999;
	box-shadow:2px 2px 5px #999;
}

ul#navi-main-list li ul li {
	width:100%;
	background-image:none;
	background-color:#d3dabb; /* bcl03 */
	text-align:left;
	margin-right:0;
}

ul#navi-main-list li ul li a {
	padding:2px 10px 2px 30px;
	line-height:20px;
	font-size:10px;
	font-weight:normal;
	/*background-image:none;*/
}

ul#navi-main-list li ul li a:hover {
	background-color:#eff3e5; /* bcl04 */
}

/* Todoyu tab */
#navi-main-list li.itemTodoyu {
	float:right;
}
/* Todoyu sub menu */
#navi-main-list-todoyu {
	margin-left:-146px !important;
}