.progressBox .message {

}

.progressBox .bar {
	width:180px;
	height:16px;
	background-color:#eee;
	border:1px solid #ccc;
	margin-top:5px;
}

.progressBox .progress {
	background-color:#E3EACE;
	width:0;
	height:16px;
}

.progressBox .button {
	margin-top:5px;
}

.progressBox .cancelProgress .icon {
	background:url(../img/icons.png) no-repeat 3px -357px;
}