#quickinfo {
	display:block;
	left:200px;
	position:absolute;
	top:200px;
	width:212px;
	border:1px solid #ccc;
	background-color:#d3dabb;
	z-index:3000;
	-webkit-box-shadow:2px 2px 5px #999;
	-moz-box-shadow:2px 2px 5px #999;
	box-shadow:2px 2px 5px #999;
}

#quickinfo dl {

}

#quickinfo dl dt {
	float:left;
	width:20px;
	min-height:15px;
	padding:2px;
}

#quickinfo dl dd {
	float:left;
	width:180px;
	min-height:15px;
	padding:2px 4px;
	background-color:#edf1e0;
	text-align:left;
	font-size:10px;
}