.sortablePanelList {
	padding-top:5px;
	display:block;
}

.sortablePanelList li.groupTitle {
	font-size:11px;
	font-weight:bold;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	padding-bottom:2px;
}

.sortablePanelList .itemList {
	padding:0;
	border:none;
}

.sortablePanelList .listItem {
	clear:both;
	display:block;
	position:relative;
	padding:5px 0 6px 5px;
	height:auto !important;
	height:1px;
	border-bottom:1px solid #ddd;
}

.sortablePanelList .listItem.odd {
	background-color:#f3f3f3;
}

.sortablePanelList .listItem.current {
	background-color:#e3eace;
}

.sortablePanelList .listItem a.title {
	margin-left:20px;
}

.sortablePanelList .itemList .listItem {
	padding:5px 0 6px 0;
}

.sortablePanelList .itemList .listItem {
	padding:5px 0 6px 0;
}

.sortablePanelList .listItem .actions {
	position:absolute;
	right:2px;
	top:4px;
}

.sortablePanelList .listItem .actions a {
	float:left;
	width:1px;
	height:16px;
	padding:1px 12px;
	text-indent:-9999px;
}

.sortablePanelList .handle {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -963px;
	width:13px;
	float:left;
	cursor:move;
	position:absolute;
	top:0;
	padding:5px 0 20px;
	margin-right:5px;
}

.sortablePanelList .handle.hover {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -1022px;
}