.dpPicker {
	position:absolute;
	top:0;
	left:0;
	z-index:3000;
	display:block;
	width:50px;
	height:110px;
	overflow:hidden;
	font-family:"Courier New", Courier, monospace;
	font-size:16px;
	cursor:pointer;
	background-color:#F9F9F9;
	border:1px solid #ccc;
	-webkit-box-shadow:2px 2px 5px #999;
	-moz-box-shadow:2px 2px 5px #999;
	box-shadow:2px 2px 5px #999;
}

.dpPicker .dpHour {
	position:absolute;
	padding-top:44px;
	padding-bottom:44px;
	top:44px;
	left:0;
	width:24px;
	float:left;
	clear:none;
	z-index:10;
	border-right:1px solid #E0E0E0;
}

.dpPicker .dpMinute {
	position:absolute;
	padding-top:44px;
	padding-bottom:44px;
	top:44px;
	left:25px;
	width:25px;
	float:left;
	clear:none;
	display:block;
	z-index:10;
}

.dpPicker div div {
	text-align:right;
	padding:2px;
	height:18px;
}

.dpMask {
	position:absolute;
	top:43px;
	left:0;
	z-index:9;
	background-color:#E0E0E0;
	width:50px;
	height:22px;
}

.durationPickerIcon {
	background:url(../img/icons.png) no-repeat 0 -1660px;
	cursor:pointer;
	margin-left:3px;
}