@import "../../config/theme.scss";



#toppanel {
	position:relative;
	width:1236px;
	margin:0 auto;
	height:70px;
	background:transparent;
}

#companyLogo {
	position:absolute;
	left:0px;
	width:190px;
	height:60px;
}

#head {
	position:absolute;
	left:198px;
	width:1023px;
	height:26px;
	background-color:$colorCorporate01;
	border-radius: 0 0 10px 10px;
}