
.wizard * {
	text-align:left;
	font-size:12px;

}

.wizard .navi,
.wizard .content,
.wizard .help {
	float:left;
	clear:none;

}

.wizard .navi {
	width:190px;
	background-color:#F6F8F1;
}

.wizard .navi ol {
	margin-left:25px;
	margin-top:20px;
	text-align:left;
}

.wizard .navi ol li {
	padding:5px;
	color:#A5A5A5;
}

.wizard .navi ol li.active {
	background-color:#fff;
	color:#000;
	font-weight:bold;

}

.wizard .navi ol li.done {
	cursor:pointer;
	color:#000;
}

.wizard .content {
	padding:20px;
	width:420px;
	height:460px;
	overflow:auto;
	background-color:#FFF;
}

.wizard .content h1.title {
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}

.wizard .content p.info {
	margin:10px 0;
	padding-bottom:10px;
}

.wizard .help {
	width:209px;
	margin-top:60px;
	padding-left:10px;

}

.wizard .buttons {
	float:left;
	clear:both;
	width:100%;
	background-color:#F6F8F1;
	padding:10px 0;
}

.wizard .buttons > div {
	float:left;
	clear:none;
	display:inline-block;
}

.wizard .buttons .close {
	width:180px;
	text-align:center;
	margin-top:5px;
}

.wizard .buttons .close a {
	background:url(../img/icons.png) no-repeat 0 -357px;
	padding:3px;
	padding-left:20px;
}

.wizard .buttons .main {
	width:500px;
}

.wizard .buttons .main button {
	clear:none;
}

.wizard .buttons .main button .icon {
	background-repeat:no-repeat;
	background-image:url(../img/icons.png);
}

.wizard .buttons .main .back {
	float:left;
}

.wizard .buttons .main .next {
	float:right;
}

.wizard .buttons .main .back .icon {
	background-position:0 -1188px;
}



.wizard .buttons .main .next .icon {
	background-position:0 -1218px;
}


