{extends main.tmpl}

{block name="box"}
	<span class="title">{Label installer.title.welcomeToInstaller}</span>
	<div id="licenseagreement">
		<h2>{Label installer.title.license}</h2>
		<div class="enduserlicense"><pre>{include "../../LICENSE.txt"}</pre></div>
		<h2>{Label installer.lgplThirdPartyLibsLicenses}</h2>
		<ul class="thirdPartyLibs">
			<li>TinyMCE</li>
			<li>phpMail</li>
			<li>jsCalendar</li>
		</ul>		
	</div>
	<input type="hidden" name="restart" value="0" />
{/block}