{extends main.tmpl}

{block name="box"}
	<div id="licenseagreement">

		<h2>{Label install.installer.license.eula}</h2>
		<div class="enduserlicense">
			<pre>{includeEscaped "LICENSE.txt"}</pre>
		</div>

		<h2>{Label install.installer.license.lgpl}</h2>
		<ul class="thirdPartyLibs">
			<li>jsCalendar</li>
			<li>phpMailer Lite</li>
			<li>TinyMCE</li>
		</ul>

	</div>

	<input type="hidden" name="install" value="1" />
{/block}