{extends main.tmpl}

{block name="box"}
	<div class="{$textclass}">Installation steps:
		<ul>
			<li>Check server compatibility</li>
			<li>Database connection setup</li>
			<li>Import static data</li>
			<li>Set administrator password</li>
		</ul> 
	</div>
{/block}