{extends main.tmpl}

{block name="box"}
	<div id="licenseagreement">
		<h2>{Label installer.title.license}</h2>
		<div class="enduserlicense"><pre>{include "../../LICENSE.txt"}</pre></div>
		<h2>{Label installer.lgplThirdPartyLibsLicenses}</h2>
		<ul class="thirdPartyLibs">
			<li>TinyMCE</li>
			<li>phpMail</li>
			<li>jsCalendar</li>
		</ul>		
		<button style="" id="agree" onclick="TodoyuInstaller.agreedToLicense(); return false;">
			<span class="label">{Label installer.button.iAcceptLicense}</span>
			<span class="rgt"/>
		</button>
	</div>

	<div id="installation-steps" class="{$textclass}" style="display:none;">{Label installer.installationSteps}:
		<ul>
			<li style="width:200px; margin:0 0 8px 0;">
				<span>{Label installer.step.licenseAgreement}</span>
				<span style="display:block !important; float:right; margin-top:-4px;" class="servercheckicon ok"/>
			</li>
			<li>{Label installer.step.checkServerCompatibility}</li>
			<li>{Label installer.step.databaseConnectionSetup}</li>
			<li>{Label installer.step.importStaticData}</li>
			<li>{Label installer.step.setAdminPassword}</li>
		</ul> 
	</div>
	<input type="hidden" name="restart" value="0" />
{/block}