{extends main.tmpl}

{block name="box"}
	<span class="title">{Label installer.servercheckResults}</span>
	<table width="500" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td width="148">PHP version &gt;= 5.2</td>
			<td width="200">{$phpversion}</td>
			<td width="150"><strong>{$phpversionStatus}</strong></td>
			<td>{if $phpversionStatus == 'OK'}<span class="servercheckicon ok"></span>{else}<span class="servercheckicon problem"></span>{/if}</td>
		</tr>
		<tr>
			<td valign="top">{Label installer.foldersFilesWritable}</td>
	{foreach $writable file status iteration}
		{if $.foreach.iteration.first}
			<td><strong class="bullet">&bull;</strong>/{$file}: </td>
			<td><strong>{if $status}{Label installer.writable}{else}{Label installer.notWritable}{/if}</strong></td>
			<td>{if $status == 'OK'}
				<span class="servercheckicon ok"></span>{else}
				<span class="servercheckicon problem"></span>
				{/if}
			</td>
		</tr>
		{else}
		<tr>
			<td></td>
			<td><strong class="bullet">&bull;</strong>/{$file}:</td>
			<td><strong>{if $status}{Label installer.writable}{else}{Label installer.notWritable}{/if}</strong></td>
			<td>{if $status == 'OK'}<span class="servercheckicon ok"></span>{else}<span class="servercheckicon problem"></span>{/if}</td>
		</tr>
		{/if}
	{/foreach}
	</table>
{/block}