{extends main.tmpl}

{block name="box"}	
	<div class="">
		<div class="sqlQuery">
			<br/>&nbsp;<strong>TODOYU CORE DATABASE TABLES:</strong><br/>
			<ul>				
			{foreach $coreStructure dbTable columns}
				<li>
					<strong>{$dbTable}:</strong>
				{foreach $columns.columns columnName columnProps}
						<pre>{$columnProps.query}</pre>
				{/foreach}					
				</li>
			{/foreach}
			</ul>
			<br/>&nbsp;<strong>TODOYU EXTENSIONS DATABASE TABLES:</strong><br/>
			<ul>
			{foreach $extStructure dbTable columns}
				<li>
					<strong>{$dbTable}:</strong>
				{foreach $columns.columns columnName columnProps}
						<pre>{$columnProps.query}</pre>
				{/foreach}					
				</li>
				{/foreach}
			</ul>
		</div> 
	</div>
{/block}