{extends main.tmpl}

{block name="box"}
		<span class="title">{Label installer.title.systemConfig}</span>
		<table width="500" border="0" cellspacing="0" cellpadding="3">
			<tr>
				<td width="109">{Label installer.systemName} *</td>
				<td width="379">
					<input name="systemname" type="text" id="systemname" value="{if $fields.server}{$fields.server}{else}Todoyu{/if}" />
				</td>
			</tr><tr>
				<td>{Label installer.systemEmail} *</td>
				<td><input type="text" name="email" id="email" value="{$fields.username}" /></td>
			</tr><tr>
				<td>{Label installer.language}</td>
				<td>
					<select name="language" id="language">
						<option value="de">German (deutsch)</option>
						<option value="en">English (english)</option>
					</select>
				</td>
			</tr>
		</table>
{/block}