{extends main.tmpl}

{block name="box"}
		<table width="500" border="0" cellspacing="0" cellpadding="3">
			<tr>
				<td width="90">{Label installer.username}</td>
				<td width="398">admin</td>
			</tr><tr>
				<td id="passwordLabel">{Label installer.password} *</td>
				<td>
					<input onkeyup="TodoyuInstaller.validatePasswordRepetition()" type="password" name="password" id="password" value="" />
					(at least 5 characters)
				</td>
			</tr><tr>
				<td id="passwordConfirmLabel">{Label installer.repeatPassword} *</td>
				<td>
					<input onkeyup="TodoyuInstaller.validatePasswordRepetition()" type="password" name="password_confirm" value="" id="password_confirm" />
				</td>
			</tr>
		</table>
{/block}