{extends main.tmpl}

{block name="box"}
		<table width="500" border="0" cellspacing="0" cellpadding="3">
		    <tr>
		        <td width="90">
		            <label id="labelCompany" for="company">{Label installer.adminpassword.companyname}</label>
		        </td>
				<td width="398"><input onkeyup="Todoyu.Installer.validateAdminAccountData()" name="company" id="company" value="" /></td>
		    </tr>
		    <tr>
		        <td>
		            <label id="labelFirstname" for="firstname">{Label installer.adminpassword.adminfirstname}</label>
		        </td>
		        <td><input onkeyup="Todoyu.Installer.validateAdminAccountData()"  name="firstname" id="firstname" value="" /></td>
		    </tr>
		    <tr>
		        <td>
		            <label id="labelLastname" onkeyup="Todoyu.Installer.validateAdminAccountData()" for="lastname">{Label installer.adminpassword.adminlastname}</label>
		        </td><td>
				    <input name="lastname" id="lastname" value="" />
				    <br /><br />
				</td>
		    </tr>
			<tr>
				<td>{Label installer.adminpassword.username}</td>
				<td>admin</td>
			</tr><tr>
				<td>
				    <label id="labelPassword" for="password">{Label installer.adminpassword.password}&nbsp;*</label>
				</td><td>
					<input onkeyup="Todoyu.Installer.validateAdminAccountData()" type="password" name="password" id="password" value="" />
					({Label installer.adminpassword.passwordHint})
				</td>
			</tr><tr>
				<td>
				    <label id="labelPasswordConfirm" for="password_confirm">{Label installer.adminpassword.repeatPassword}&nbsp;*</label>
				</td><td>
					<input type="password" name="password_confirm" value="" id="password_confirm" onkeyup="Todoyu.Installer.validateAdminAccountData()" />
				</td>
			</tr>
		</table>
{/block}