{extends main.tmpl}

{block name="box"}
	<div class="{$textclass}">Update steps:
		<ul>
			<li>General update: Changes to DB structures since your currently installed version ({constant(TODOYU_VERSION)})</li>
			<li>DB-Analyzer: Check for extensions' newly added DB tables and columns</li>
		</ul>
	</div>
{/block}