{extends main.tmpl}

{block name="box"}
	<div class="{$textclass}">
		<span class="title">{Label installer.title.welcomeToTodoyuUpdate}</span>
		{Label installer.updateSteps}:
		<ul>
			<li>{Label installer.generalUpdate}: {Label installer.updateDbChanges} ({constant(TODOYU_VERSION)})</li>
			<li>{Label installer.dbAnalyzer}: {Label installer.analyzerInfo}</li>
		</ul>
	</div>
{/block}