{extends main.tmpl}

{block name="box"}
	<div class="{$textclass}">
		<span class="title">{Label installer.title.detectedUpdateCoreChanges}</span>
		<div class="sqlQuery">
			<ul>
			{foreach $diffs dbTable columns}
				<li>
					<strong>{$dbTable}:</strong>
				{foreach $columns.columns columnName columnProps}
						<pre>{$columnProps.query}</pre>
				{/foreach}
				</li>
			{/foreach}
			</ul>
			{if count($diffs) == 0}{Label installer.affirm.dbIsUptodate}{/if}
		</div>
	</div>
{/block}