{extends main.tmpl}

{block name="box"}
	<div class="{$textclass}">Version {constant(TODOYU_VERSION)} includes the following database updates:
		<div class="sqlQuery">
			<ul>
			{foreach $diffs dbTable columns}
				<li>
					<strong>{$dbTable}:</strong>
				{foreach $columns.columns columnName columnProps}
						<pre>{$columnProps.query}</pre>
				{/foreach}
				</li>
			{/foreach}
			</ul>
			{if count($diffs) == 0}Congratulations! your database is up to date.{/if}
		</div>
	</div>
{/block}