{extends main.tmpl}

{block name="box"}
<h1><span class="title">{$title}</span><span class="rgt"></span></h1>
<div class="blockcontent">
	<p class="{$textClass}">{$text}</p>
	<form method="post">
		<table width="500" border="0" cellspacing="0" cellpadding="3">
	      <tr>
	        <td width="90">Username</td>
	        <td width="398">admin</td>
	      </tr>
	      <tr>
	        <td>Password *</td>
	        <td><input type="password" name="password" id="password" /></td>
	      </tr>
	      <tr>
	        <td>Confirm Password *</td>
	        <td><input type="password" name="password_confirm" id="password_confirm" /></td>
	      </tr>
	    </table>
		<button type="submit">
			<span class="label">Change admin password</span>
			<span class="rgt"></span>
		</button>
		<input type="hidden" name="action" value="setadminpassword">
	</form>
</div>
{/block}