{extends main.tmpl}

{block name="box"}
<h1>{$title}</h1>
<p>Installation finished</p>
<form method="post">
	<input type="submit" value="Disable installer and go to login">
	<input type="hidden" name="command" value="finish">
</form>
{/block}