{extends main.tmpl}

{block name="box"}
<h1><span class="title">{$title}</span><span class="rgt"></span></h1>
<div class="blockcontent">
	<p  class="text textSuccess">DB connection is stored, import static data now.</p>
	<form method="post">
		<button type="submit">
			<span class="label">Import static database data</span>
			<span class="rgt"></span>
		</button>
		<input type="hidden" name="action" value="importstatic">
	</form>
</div>
{/block}