<div class="content">
<h1>
	<span class="title">{Label installer.panel.title.licenseInformation}</span>
	<span class="rgt"></span>
</h1>
	<div class="text textInfo">
		<ul>
			<li>1. todoyu 2.0 Beta 3 Release</li>
			<li>2. the following external tools:
				<ul>
					<li>TinyMCE</li>
					<li>phpMail</li>
					<li>jsCalendar</li>
				</ul>
				Licenced under LGPL v2.1
			</li>
		</ul>
	</div>
</div>