<div class="content">
	<span class="lt"></span>
	<span class="rt"></span>

	<h1><span class="title">Todoyu 2.0</span><span class="rgt"></span></h1>
	<img src="assets/img/banner.jpg">

</div>
<div class="panelFooter"></div>