body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background-color:#e3eace;
}

#box {
	position:relative;
	clear:both;
	padding:0 0 80px;
	height:auto !important;
	min-height:415px;
	padding:1px 2px 0 3px;
	width:973px !important;
	background-color:#e3eace;
	margin:0 auto;

}

#contentBox {
	top:20px;
	float:left;
	position:relative;
	width:680px;
	background-color:#fff;
}

		#contentBox span.lt,
		#contentBox span.rt,
		#contentBox span.lb,
		#contentBox span.rb,
		.content span.lt,
		.content span.rt,
		.content span.lb,
		.content span.rb {
			display:block;
			position:absolute;
			width:13px;
			height:13px;
			background-color:transparent;
			background-image:url('../img/col3_r13.png');
			background-repeat:no-repeat;
			background-position:0 0;
		}

		.content span.lt, #contentBox span.lt {top:0;left:0;}
		.content span.rt, #contentBox span.rt {top:0;right:0;background-position:100% 0;}
		.content span.lb, #contentBox span.lb {bottom:0;left:0;background-position:0 100%;}
		.content span.rb, #contentBox span.rb {bottom:0;right:0;background-position:100% 100%;}

.content {
	margin:8px;
	padding:1px;
}

.content .boxContent {
	background-color:#e3eace;
}

.content .boxContent .blockcontent {
	padding:10px;
}

.text{
	padding:5px;
	border:1px solid #000;
	margin:5px;
}

.textError{
	border-color:red !important;
	background-color:#fdc5c5;
}

.textInfo{
	border-color:#ffa800;
	background-color:#fdeec3;
}

.textSuccess{
	border-color:#048e01;
	background-color:#96f384;
}

#licence,
#panel {
	clear:both;
	float:left;
	margin:0 10px 0 0;
	padding:0;
	position:relative;
	top:20px;
	width:270px;
	background-color:#fff;
}

#licence .panelFooter,
#panel .panelFooter {
	height:51px;
	margin-top:-2px;
	background:#e3eace url('../img/panel_footer.png') no-repeat 0 0;
}

#footer {
	border:1px solid #d3dabb;
	background-color:#edf1e0;
	clear:both;
	margin:20px 8px 10px 8px;
	padding:15px;
}

h1 {
	background:transparent url('../img/bg_headerline.png') no-repeat 0 0;
	height:28px;
	margin-top:5px;
	position:relative;
	text-align:left;
	width:100%;
}

h1 span.title {
	float:left;
	line-height:28px;
	margin:0 0 0 5px;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:0.3px;
}

h1 span.rgt {
	background:#fff url('../img/bg_headerline.png') no-repeat scroll 100% 0;
	height:28px;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	width:10px;
}

a, a:link {
	color:#414e1c;
}

button {
	background:url('../img/bg_button.png') no-repeat 0 50%;
	border:0 none !important;
	color:#000;
	cursor:pointer;
	padding:0;
	position:relative;
}
	button span {
		color:#000;
		float:left;
		font-size:11px;
		line-height:23px;
		margin:0;
		padding:0 0 0 13px;
		white-space:nowrap;
	}

	button span.label {
		margin-left:10px;
		margin-right:3px;
		padding:0;
		white-space:nowrap;
		text-transform:uppercase;
	}

	button span.rgt {
		background-color:#d3dabb;
		background:#e3eace url('../img/bg_button.png') no-repeat 100% 50%;
		display:block;
		height:23px;
		left:3px;
		margin:0;
		padding:0;
		position:relative;
		width:10px;
	}

.servercheckicon {
	height:16px;
	width:16px;
	display:block;
	background:transparent url('../img/icons.png') no-repeat 0 0;	
}

.servercheckicon.ok {
	background-position:0 -28px;	
} 

.toggler {
	height:16px;
	padding:0 0 0 16px;
	background:transparent url('../img/icons.png') no-repeat 4px -56px;
}
.toggler.expanded {
	background:transparent url('../img/icons.png') no-repeat 4px -85px;
}

.sqlQuery {
	width:600px;
	height:380px;
	overflow-x:scroll;
	margin:12px 0;
	border:1px dotted #ffa800;
	background-color:#f9f3e8;
}

.redLabel {
	color:#ff0000;
}